<section id="family">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-7 col-md-12">
      <ul class="nav" style="padding-bottom:1%">
        <li class="nav-item">
          <a href="#" style="color:#FF5545">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" style="color:#FF5545"> &nbsp;/ Family Members</a>
        </li>
      </ul>

    </div>

  </div>

  <div class="row">
    <div class="col-lg-1 "></div>
    <div class="col-lg-7 col-md-12">
      <div class="card-header text-center" id="blogs-head">
        <h4><i class="fas fa-users"></i> &nbsp;Family Members</h4>
      </div>
      <br class="d-block d-md-none">

      <div class="card mb-3" id="family-card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-4 col-md-3">
                  <h6 class="text-center">
                    <img class="rounded-circle" id="doc-img" src="assets/images/architecture_city_view_from_above_buildings_river_118446_1920x1080.jpg">

                  </h6>

                </div>
                <div class="col-8 col-md-9">
                  <div id="blog-title">
                    <h4><b>Mariam Roshdy </b>
                      <div class="circle pull-right">
                        <h3><i class="fas fa-edit" id="profile-icons"></i></h3>
                      </div>
                    </h4>
                    <h6 style="color:black">Sister</h6>

                  </div>

                  <div id="blog-desc">
                    <div class="row">
                      <div class="col-md-4">
                        <h6 class="d-none d-md-block">Date:</h6>
                        <p style="color:black">11/09/2018</p>
                      </div>
                      <div class="col-md-4">
                        <h6 class="d-none d-md-block">ID:</h6>
                        <p style="color:black">Patinet ID</p>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>


          </div>
        </div>
      </div>

      <div class="card mb-3" id="family-card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-4 col-md-3">
                  <h6 class="text-center">
                    <img class="rounded-circle" id="doc-img" src="assets/images/architecture_city_view_from_above_buildings_river_118446_1920x1080.jpg">

                  </h6>

                </div>
                <div class="col-8 col-md-9">
                  <div id="blog-title">
                    <h4><b>Mariam Roshdy </b>
                      <div class="circle pull-right">
                        <h3><i class="fas fa-edit" id="profile-icons"></i></h3>
                      </div>
                    </h4>
                    <h6 style="color:black">Sister</h6>

                  </div>

                  <div id="blog-desc">
                    <div class="row">
                      <div class="col-md-4">
                        <h6 class="d-none d-md-block">Date:</h6>
                        <p style="color:black">11/09/2018</p>
                      </div>
                      <div class="col-md-4">
                        <h6 class="d-none d-md-block">ID:</h6>
                        <p style="color:black">Patinet ID</p>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>


          </div>
        </div>
      </div>

      <div class="card mb-3" id="family-card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-4 col-md-3">
                  <h6 class="text-center">
                    <img class="rounded-circle" id="doc-img" src="assets/images/architecture_city_view_from_above_buildings_river_118446_1920x1080.jpg">

                  </h6>

                </div>
                <div class="col-8 col-md-9">
                  <div id="blog-title">
                    <h4><b>Mariam Roshdy </b>
                      <div class="circle pull-right">
                        <h3><i class="fas fa-edit" id="profile-icons"></i></h3>
                      </div>
                    </h4>
                    <h6 style="color:black">Sister</h6>

                  </div>

                  <div id="blog-desc">
                    <div class="row">
                      <div class="col-md-4">
                        <h6 class="d-none d-md-block">Date:</h6>
                        <p style="color:black">11/09/2018</p>
                      </div>
                      <div class="col-md-4">
                        <h6 class="d-none d-md-block">ID:</h6>
                        <p style="color:black">Patinet ID</p>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>


          </div>
        </div>
      </div>

      <div class="card mb-3" id="family-card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-4 col-md-3">
                  <h6 class="text-center">
                    <img class="rounded-circle" id="doc-img" src="assets/images/architecture_city_view_from_above_buildings_river_118446_1920x1080.jpg">

                  </h6>

                </div>
                <div class="col-8 col-md-9">
                  <div id="blog-title">
                    <h4><b>Mariam Roshdy </b>
                      <div class="circle pull-right">
                        <h3><i class="fas fa-edit" id="profile-icons"></i></h3>
                      </div>
                    </h4>
                    <h6 style="color:black">Sister</h6>

                  </div>

                  <div id="blog-desc">
                    <div class="row">
                      <div class="col-md-4">
                        <h6 class="d-none d-md-block">Date:</h6>
                        <p style="color:black">11/09/2018</p>
                      </div>
                      <div class="col-md-4">
                        <h6 class="d-none d-md-block">ID:</h6>
                        <p style="color:black">Patinet ID</p>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>


          </div>
        </div>
      </div>

      <div class="row d-md-none">
        <br>
        <div class="col-2"></div>
        <div class="col-8">
          <a data-toggle="modal" data-target="#add-member">
            <button id="buttonsintro">Add New Member</button>
          </a>
        </div>
        <br>
        <br>

      </div>

    </div>
    <div class="col-lg-3 col-md-12 d-none d-md-block">
      <div class="card-header text-center" id="blogs-head">
        <h4><i class="fas fa-user-md"></i> &nbsp;Add New Member</h4>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-4 col-lg-4 col-md-5"></div>
              <div class="col-4 col-lg-4 col-md-4 ">
                <div class="circle-form"></div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-1 col-md-1"><i class="fas fa-user fa-lg"></i></div>
              <div class="col-5 col-md-5">
                <input type="text" id="inputform" placeholder="First Name">

              </div>
              <div class="col-5 col-md-5">
                <input type="text" id="inputform" placeholder="Last Name">
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-1 col-md-1"><i class="far fa-calendar fa-lg"></i></div>
              <div class="col-10 col-md-10">
                <input type="date" id="inputform" placeholder="DD/MM/YY">
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-1 col-md-1"><i class="fas fa-venus-mars fa-lg"></i>
              </div>

              <div class="col-3 col-md-3">
                Gender
              </div>
              <div class="col-6  col-md-6">
                <div>
                  <input type="radio">
                  <label style="font-size:10px">&nbsp;<b>Male</b></label>
                  &nbsp;
                  <input type="radio">
                  <label style="font-size:10px">&nbsp;<b>Female</b></label>
                </div>

              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-1 col-md-1"><i class="fas fa-mobile-alt fa-lg"></i></div>
              <div class="col-10 col-md-10">
                <input type="number" id="inputform" placeholder="Mobile Number">
                <p class="pull-right" id="doccontent"><u>Change Number</u></p>

              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-1 col-md-1"><i class="fas fa-user-friends fa-lg"></i></div>
              <div class="col-10 col-md-10">
                <select id="dropdownform">
                  <option value="" disabled selected>Relationship</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>

              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <button id="buttonsintro">Add New Member</button>
              </div>

            </div>
          </form>


        </div>
      </div>

    </div>
  </div>
</section>

<!-- Modal -->

<div class="modal fade" id="add-member" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-4 col-lg-4 col-md-5"></div>
              <div class="col-4 col-lg-4 col-md-4 ">
                <div class="circle-form"></div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-1 col-md-1"><i class="fas fa-user fa-lg"></i></div>
              <div class="col-5 col-md-5">
                <input type="text" id="inputform" placeholder="First Name">

              </div>
              <div class="col-5 col-md-5">
                <input type="text" id="inputform" placeholder="Last Name">
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-1 col-md-1"><i class="far fa-calendar fa-lg"></i></div>
              <div class="col-10 col-md-10">
                <input type="date" id="inputform" placeholder="DD/MM/YY">
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-1 col-md-1"><i class="fas fa-venus-mars fa-lg"></i>
              </div>

              <div class="col-3 col-md-3">
                Gender
              </div>
              <div class="col-6  col-md-6">
                <div>
                  <input type="radio">
                  <label style="font-size:10px">&nbsp;<b>Male</b></label>
                  &nbsp;
                  <input type="radio">
                  <label style="font-size:10px">&nbsp;<b>Female</b></label>
                </div>

              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-1 col-md-1"><i class="fas fa-mobile-alt fa-lg"></i></div>
              <div class="col-10 col-md-10">
                <input type="number" id="inputform" placeholder="Mobile Number">
                <p class="pull-right" id="doccontent"><u>Change Number</u></p>

              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-1 col-md-1"><i class="fas fa-user-friends fa-lg"></i></div>
              <div class="col-10 col-md-10">
                <select id="dropdownform">
                  <option value="" disabled selected>Relationship</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>

              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <button id="buttonsintro">Add New Member</button>
              </div>

            </div>
          </form>


        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
