   
    <section id="blogs">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <ul class="nav" style="padding-bottom:1%">
                    <li class="nav-item">
                      <a href="#" style="color:#FF5545">Home</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" style="color:#FF5545"> &nbsp;/ Blogs</a>
                    </li>
                  </ul>
            </div>
               
                              
          </div>
    
        <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-7 col-md-12">
                  <div class="card-header text-center" id="blogs-head"><h4><i class="fas fa-user-md"></i> &nbsp;List Blogs</h4></div>
                  <div class="card mb-3">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3">
                                          <img class="rounded-circle" id="doc-img"  src="assets/images/check-up-clinic-dentist-117097.png">
  
                                  </div>
                                  <div class="col-md-9">
                                      <div id="blog-title">
                                              <h5><b>Blog title Blog title Blog title Blog title Blog title Blog title Blog title </b></h5>
                                      </div>
                                      <div id="blog-desc">
                                              <div class="row">
                                                  <div class="col-md-4">
                                                      <h6>Date :</h6>
                                                      <p style="color:black">11/09/2018</p>
                                                  </div>
      
                                                  <div class="col-md-4">
                                                          <h6>By :</h6>
                                                          <p style="color:black">Name Name</p>
                                                      </div>
                                                      <div class="col-md-4">
                                                              <h6>Category :</h6>
                                                              <p style="color:black">Name Name</p>
                                                          </div>
                                                              
                                              </div>
                                      </div>
                                  </div>
                
                                </div>
                
                              </div>
                              
                
                            </div>
                          </div>
                  </div>

                  <div class="card mb-3">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3">
                                          <img class="rounded-circle" id="doc-img"  src="assets/images/check-up-clinic-dentist-117097.png">
  
                                  </div>
                                  <div class="col-md-9">
                                      <div id="blog-title">
                                              <h5><b>Blog title Blog title Blog title Blog title Blog title Blog title Blog title </b></h5>
                                      </div>
                                      <div id="blog-desc">
                                              <div class="row">
                                                  <div class="col-md-4">
                                                      <h6>Date :</h6>
                                                      <p style="color:black">11/09/2018</p>
                                                  </div>
      
                                                  <div class="col-md-4">
                                                          <h6>By :</h6>
                                                          <p style="color:black">Name Name</p>
                                                      </div>
                                                      <div class="col-md-4">
                                                              <h6>Category :</h6>
                                                              <p style="color:black">Name Name</p>
                                                          </div>
                                                              
                                              </div>
                                      </div>
                                  </div>
                
                                </div>
                
                              </div>
                              
                
                            </div>
                          </div>
                  </div>
                  
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3">
                                    <img class="rounded-circle" id="doc-img"  src="assets/images/check-up-clinic-dentist-117097.png">

                            </div>
                            <div class="col-md-9">
                                <div id="blog-title">
                                        <h5><b>Blog title Blog title Blog title Blog title Blog title Blog title Blog title </b></h5>
                                </div>
                                <div id="blog-desc">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h6>Date :</h6>
                                                <p style="color:black">11/09/2018</p>
                                            </div>

                                            <div class="col-md-4">
                                                    <h6>By :</h6>
                                                    <p style="color:black">Name Name</p>
                                                </div>
                                                <div class="col-md-4">
                                                        <h6>Category :</h6>
                                                        <p style="color:black">Name Name</p>
                                                    </div>
                                                        
                                        </div>
                                </div>
                            </div>
          
                          </div>
          
                        </div>
                        
          
                      </div>
                    </div>
                   </div>
            
                   <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3">
                              <img class="rounded-circle" id="doc-img"  src="assets/images/check-up-clinic-dentist-117097.png">

                      </div>
                      <div class="col-md-9">
                          <div id="blog-title">
                                  <h5><b>Blog title Blog title Blog title Blog title Blog title Blog title Blog title </b></h5>
                          </div>
                          <div id="blog-desc">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <h6>Date :</h6>
                                          <p style="color:black">11/09/2018</p>
                                      </div>

                                      <div class="col-md-4">
                                              <h6>By :</h6>
                                              <p style="color:black">Name Name</p>
                                          </div>
                                          <div class="col-md-4">
                                                  <h6>Category :</h6>
                                                  <p style="color:black">Name Name</p>
                                              </div>
                                                  
                                  </div>
                          </div>
                      </div>
    
                    </div>
    
                  </div>
                  
    
                </div>
              </div>
                   </div>
      
                   <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3">
                                    <img class="rounded-circle" id="doc-img"  src="assets/images/check-up-clinic-dentist-117097.png">

                            </div>
                            <div class="col-md-9">
                                <div id="blog-title">
                                        <h5><b>Blog title Blog title Blog title Blog title Blog title Blog title Blog title </b></h5>
                                </div>
                                <div id="blog-desc">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h6>Date :</h6>
                                                <p style="color:black">11/09/2018</p>
                                            </div>

                                            <div class="col-md-4">
                                                    <h6>By :</h6>
                                                    <p style="color:black">Name Name</p>
                                                </div>
                                                <div class="col-md-4">
                                                        <h6>Category :</h6>
                                                        <p style="color:black">Name Name</p>
                                                    </div>
                                                        
                                        </div>
                                </div>
                            </div>
          
                          </div>
          
                        </div>
                        
          
                      </div>
                    </div>
            </div>
            
            </div>
            <div class="col-lg-3 col-md-12">
                  <div class="card-header text-center" id="blogs-head"><h4><i class="fas fa-search"></i> &nbsp;Search</h4></div>
                  <div class="card mb-3">
                          <div class="card-body">
                
                            <div id="specialty " class="filterdiv">
                              <div id="filterhead">
                                <h6 class="card-title"><i class="fas fa-stethoscope"></i> Categories</h6>
                                <hr>
                              </div>
                
                              <div id="filtercontent">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                  <label class="form-check-label" for="inlineCheckbox1">Category 1</label>
                                </div>
                                <div class="form-check ">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                  <label class="form-check-label" for="inlineCheckbox2">Category 2</label>
                                </div>
                                <div class="form-check ">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option2">
                                  <label class="form-check-label" for="inlineCheckbox3">Category 3</label>
                                </div>
                                <div class="form-check ">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2">
                                  <label class="form-check-label" for="inlineCheckbox4">Category 4</label>
                                </div>
                                <div class="form-check ">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option2">
                                  <label class="form-check-label" for="inlineCheckbox5">Category 5</label>
                                </div>
                                <div class="form-check ">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option2">
                                  <label class="form-check-label" for="inlineCheckbox6">Category 6</label>
                                </div>
                
                                <div class="form-check ">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option2">
                                  <label class="form-check-label" for="inlineCheckbox7">Category 7</label>
                                </div>
                                <div class="form-check ">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option2">
                                  <label class="form-check-label" for="inlineCheckbox7">Category 8</label>
                                </div>
                                <div class="form-check ">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option2">
                                  <label class="form-check-label" for="inlineCheckbox7">Category 9</label>
                                </div>
                                <div class="form-check ">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option2">
                                  <label class="form-check-label" for="inlineCheckbox7">Category 10</label>
                                </div>
  
                                <div class="form-check ">
                                      <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option2">
                                      <label class="form-check-label" for="inlineCheckbox7">Category 11</label>
                                    </div>
                                
                                    <div class="form-check ">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option2">
                                          <label class="form-check-label" for="inlineCheckbox7">Category 12</label>
                                        </div>
                                        
                              </div>
                
                            </div>
                           
                          </div>
                        </div>
            </div>
        </div> 
    </section>
  