<section id="doc-profile">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6 col-md-12 shadow" id="profile">
      <div class="mobile-view">
          <div class="row ">
              <div class="col-md-12">
                <h3 class="text-center"><b id="docdesc">Doctor Name</b></h3>
                <h6 class="text-center"><b id="docdesc">Specialty</b></h6>
                <h6 class="text-center">
                  <b id="docdesc">
                    <i class="fas fa-star" id="docdesc"></i>
                    <i class="fas fa-star" id="docdesc"></i>
                    <i class="fas fa-star" id="docdesc"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star" id="docdesc"></i>
                  </b>
                </h6>
              </div>
            </div>
      
            <div class="row">
              <div class="col-2 col-md-2">
                <h6 class="text-center mobile" id="firstpairs" style="color:#fff">Message</h6>
                <img src="assets/images/send message.png">

      
              </div>
              <div class="col-2 col-md-2">
                <h6 class="text-center mobile" id="twopairs" style="color:#fff ;">Favourite</h6>
      
                <img src="assets/images/favorite.png">

              </div>
      
              <div class="col-4  col-md-4">
                <h6 class="text-center">
                  <img class="rounded-circle" id="doc-img" src="assets/images/Medical_Professional_stock.png">
                </h6>
              </div>
      
              <div class="col-2 col-md-2 ">
                <h6 class="text-center mobile" id="twopairs" style="color:#fff ;">0123456789</h6>
      
                <img src="assets/images/call doctor.png">

              </div>
              <div class="col-2 col-md-2 ">
                <h6 class="text-center mobile" id="firstpairs" style="color:#fff ;">Share</h6>
      
                <img src="assets/images/share doctor.png">

              </div>
      
            </div>
      
            <div class="row" id="profile-content">
              <div class="col-md-12">
                <h6 class="text-center" id="doccontent">192 reviews</h6>
              </div>
      
              <div class="col-md-10 offset-md-1 d-none d-md-block" id="mapdiv">
      
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding:1%">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" id="mapslider"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" id="mapslider"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" id="mapslider"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <iframe class="d-block w-100" id="map" height="200" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                      <div class="col-md-12" id="mapdesc">
                        <h3 class="text-center" id="doccontent">clinic 1</h3>
                        <h6 class="text-center">clinic 1 address clinic 1 address</h6>
                      </div>
      
                    </div>
                    <div class="carousel-item ">
                      <iframe class="d-block w-100" id="map" height="200" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                      <div class="col-md-12" id="mapdesc">
                        <h3 class="text-center" id="doccontent">clinic 2</h3>
                        <h6 class="text-center">clinic 1 address clinic 1 address</h6>
                      </div>
      
                    </div>
                    <div class="carousel-item ">
                      <iframe class="d-block w-100" id="map" height="200" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                      <div class="col-md-12" id="mapdesc">
                        <h3 class="text-center" id="doccontent">clinic 3</h3>
                        <h6 class="text-center">clinic 1 address clinic 1 address</h6>
                      </div>
      
                    </div>
                  </div>
                </div>
      
              </div>
              <div class="col-10  offset-1 d-block d-md-none" id="mapdiv">
                  <div class="swiper-container">
                      <!-- Additional required wrapper -->
                      <div class="swiper-wrapper">
                          <!-- Slides -->
                          <div class="swiper-slide">
                              <iframe class="d-block w-100" id="map" height="200" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                              frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border-radius:5px"></iframe>
                            <div class="col-md-12" id="mapdesc">
                              <h3 class="text-center" id="doccontent">clinic 1</h3>
                              <h6 class="text-center">clinic 1 address clinic 1 address</h6>
                            </div>
                          </div>
                          <div class="swiper-slide">
                              <iframe class="d-block w-100" id="map" height="200" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                              frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border-radius:5px"></iframe>
                            <div class="col-md-12" id="mapdesc">
                              <h3 class="text-center" id="doccontent">clinic 1</h3>
                              <h6 class="text-center">clinic 1 address clinic 1 address</h6>
                            </div>
                          </div>
                          <div class="swiper-slide">
                              <iframe class="d-block w-100" id="map" height="200" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                              frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border-radius:5px"></iframe>
                            <div class="col-md-12" id="mapdesc">
                              <h3 class="text-center" id="doccontent">clinic 1</h3>
                              <h6 class="text-center">clinic 1 address clinic 1 address</h6>
                            </div>
                          </div>
                          
                      </div>
                      <!-- If we need pagination -->
                      <div class="swiper-pagination"></div>
                  
                      
                  </div>
                 
        
                </div>
            </div>

            
      </div>
      <a class="d-block d-sm-none" data-target="#Request" data-toggle="modal">
          <button id="buttonsintro">Request Appointment</button>
      </a>
    </div>

    <div class="col-lg-4 col-md-12 d-none d-sm-block">
      <div class="card-header text-center" id="doclist-head">Request Appointment</div>
      <div class="card mb-3" style="height:600px ; border-radius:  0 0 5px 5px">
        <div class="card-body">
          <form>
            <div class="row">
              <h5 id="doccontent">&nbsp;&nbsp;<u>Patient Information</u> </h5>
              <br>
              <br>

              <div class="col-md-12">
                <select id="dropdownform">
                  <option value="" disabled selected>Patient Name</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>

                <p class="pull-right" id="doccontent"><u>New Patient</u></p>
              </div>
              <div class="col-md-12">
                <input id="inputform" placeholder="Mobile Number">
                <p class="pull-right" id="doccontent"><u>Change Mobile Number</u></p>
              </div>

              <h5 id="doccontent">&nbsp;&nbsp;<u>Facility Information</u> </h5>
              <br>
              <br>

              <div class="col-md-12">
                <input id="inputform" placeholder="Required Date">
              </div>
              <br>
              <br>
              <br>
              <div class="col-md-12">
                <input id="inputform" placeholder="Preferred Time">
              </div>
              <br>
              <br>
              <br>
              <div class="col-md-12">
                <select id="dropdownform">
                  <option value="" disabled selected>Visit Type</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <br>
              <br>
              <br>
              <div class="col-md-12">
                <select id="dropdownform">
                  <option value="" disabled selected>Visit Reason</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <br>
              <br>
              <br>
            </div>
            <button id="buttonsintro">Request Appointment</button>
          </form>


        </div>

      </div>

    </div>

  </div>
  <br>
  
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 shadow" id="doc-tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item col-4 col-md-4" style="border-right:2px solid #bbbbbbbb">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#hom" role="tab" aria-controls="home"
            aria-selected="true">
            <p class="text-center tab-title"><b>Profile</b></p>
          </a>
        </li>
        <li class="nav-item col-4 col-md-4" style="border-right:2px solid #bbbbbbbb">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#clinic" role="tab" aria-controls="clinic"
            aria-selected="false">
            <p class="text-center tab-title"><b>Clinic Info</b></p>
          </a>
        </li>
        <li class="nav-item col-4 col-md-4">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating"
            aria-selected="false">
            <p class="text-center tab-title"><b>Rating</b></p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="hom" role="tabpanel" aria-labelledby="home-tab">
          <div id="doctabcontent">
            <div id="prostate">
              <h5 id="doccontent"><b>Professional Statement</b></h5>
              <p>
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex
                squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                voluptate nisi qui
              </p>
              <ul class="list-unstyled">
                <li>denim</li>
                <li>Raw</li>
                <li>denim</li>
                <li>Raw</li>
                <li>denim</li>
                <li>Raw</li>
                <li>denim</li>
                <li>Raw</li>
                <li>denim</li>
                <li>Raw</li>
              </ul>
            </div>

            <div id="certs">
              <h5 id="doccontent"><b>Certifications</b></h5>
              <h6>
                1-denim
              </h6>
              <h6>
                2-Raw
              </h6>
              <h6>
                3-denim
              </h6>
              <h6>
                4-Raw
              </h6>

            </div>

            <div id="prostate">
              <h5 id="doccontent"><b>Experience</b></h5>
              <p>
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex
                squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                voluptate nisi qui
              </p>

            </div>

          </div>
        </div>
        <div class="tab-pane fade" id="clinic" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie locavore,
          accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial
          PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
          letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud
          organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
          sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut
          DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui
          sapiente accusamus tattooed echo park.</div>
        <div class="tab-pane fade" id="rating" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape wayfarers,
          ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table
          readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy
          salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
          Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.
          Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable
          tofu synth chambray yr.</div>
      </div>

    </div>
  </div>

  <!-- <div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-10 shadow" id="our-team">
      <div class="row">
        <div class="col-md-12">
          <h1 id="doccontent" class="text-center"><i class="fas fa-user-md fa-lg"></i></h1>
          <h3 id="doccontent" class="text-center"><b>Related Doctors</b></h3>
          <h4 class="text-center"><img src="assets/images/linecopy2.png"></h4>
        </div>
      </div>
      <br>
      <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="../../assets/images/02_doctor_Insider-Tips-to-Choosing-the-Best-Primary-Care-Doctor_519507367_Stokkete.png">
                    <div class="team-content">
                      <h3 class="title">Williamson</h3>
                      <span class="post">Sepcialty</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/male-dentist_4460x4460.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/The-Dedicated-Doctor.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/Medical_Professional_stock.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="../../assets/images/02_doctor_Insider-Tips-to-Choosing-the-Best-Primary-Care-Doctor_519507367_Stokkete.png">
                    <div class="team-content">
                      <h3 class="title">Williamson</h3>
                      <span class="post">Sepcialty</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/male-dentist_4460x4460.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/The-Dedicated-Doctor.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/Medical_Professional_stock.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="../../assets/images/02_doctor_Insider-Tips-to-Choosing-the-Best-Primary-Care-Doctor_519507367_Stokkete.png">
                    <div class="team-content">
                      <h3 class="title">Williamson</h3>
                      <span class="post">Sepcialty</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/male-dentist_4460x4460.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/The-Dedicated-Doctor.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/Medical_Professional_stock.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

        <a class="carousel-control-prev" style="margin-left:-8%" data-target="#carouselExampleIndicators1" role="button"
          data-slide="prev" id="sliderbtn">
          <i class="fas fa-caret-left fa-lg"></i>
        </a>
        <a class="carousel-control-next" style="margin-right:-8%" data-target="#carouselExampleIndicators1" role="button"
          data-slide="next" id="sliderbtn">
          <i class="fas fa-caret-right fa-lg"></i>
        </a>
      </div>

    </div>
  </div>
 -->

</section>

<!-- Modal -->
<div class="modal fade" id="Request" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Request Appointment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <form>
                  <div class="row">
                    <h5 id="doccontent">&nbsp;&nbsp;<u>Patient Information</u> </h5>
                    <br>
                    <br>
      
                    <div class="col-md-12">
                      <select id="dropdownform">
                        <option value="" disabled selected>Patient Name</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
      
                      <p class="pull-right" id="doccontent"><u>New Patient</u></p>
                    </div>
                    <div class="col-md-12">
                      <input id="inputform" placeholder="Mobile Number">
                      <p class="pull-right" id="doccontent"><u>Change Mobile Number</u></p>
                    </div>
      
                    <h5 id="doccontent">&nbsp;&nbsp;<u>Facility Information</u> </h5>
                    <br>
                    <br>
      
                    <div class="col-md-12">
                      <input id="inputform" placeholder="Required Date">
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-12">
                      <input id="inputform" placeholder="Preferred Time">
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-12">
                      <select id="dropdownform">
                        <option value="" disabled selected>Visit Type</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-12">
                      <select id="dropdownform">
                        <option value="" disabled selected>Visit Reason</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                    </div>
                    <br>
                    <br>
                    <br>
                  </div>
                  <button id="buttonsintro">Request Appointment</button>
                </form>
      
      
              </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
  