
@media screen and (max-width: 600px) {
    #login {
        background-color: #ddd;
        padding: 5%;
        padding-top: 7%;
        margin-top: 55px; 
    }
  }
  @media screen and (min-width: 600px) {
    #login {
        background-color: #ddd;
        padding: 5%;
        padding-top: 7%;
    }
  }
  #navlinks {
    border-right: 1px solid #FF5545;
    color: white;
  }
  
#login {
    background-color: #ddd;
    padding: 5%;
    padding-top: 7%;
}
#doclist-head {
    color: #fff;
    background-color: #FF5545;
    border-radius: 5px 5px 0px 0px;
  
  }
  #login-form{
      padding: 8%;
      padding-bottom: 10%;
  }
  #login-div{
      border: 1px solid #FF5545 ; 
  }
  
  .input-form{
    padding: 1%;
    background-color:#fff ;
    border: 1px solid #fff ;    
    width: 100%;  
}
hr{
    background-color: black ; 
    margin-top:1%;  
}
::placeholder{
    color: gray;
    font-weight: bold ; 
}

#icons{
    color: #FF5545 ; 
}

.buttonsintro {
    border-radius: 5px ;
    width: 100%; 
    color: #fff;
    padding: 1%;
    background-color: #FF5545 ;
    border: 1px solid #FF5545 
}



.buttonsintrofb {
    border-radius: 5px ;
    width: 100%; 
    color: #fff;
    padding: 1%;
    background-color: #3b5998 ;
    border: 1px solid #3b5998 

}

