<div class="page-loader-wrapper" id="page-loader">
  <div class="loader">
    <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/loading-icon.gif" width="200" height="200"
        alt="Oreo">
    </div>
    <p>Please wait...</p>
  </div>
</div>
<section id="hospital-profile">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-lg-5 col-md-12 shadow" id="profile">
      <div class="row">
        <div class="col-md-12" style="padding:1%">
          <br>
          <br>
          <h3 class="text-center"><b class="docdesc">{{FacDetails.Name}}</b></h3>
          <h6 class="text-center">
            <!-- <b class="docdesc">{{FacDetails.Specialities[0].name}}</b>
             -->
          </h6>

          <h6 class="text-center">
            <!-- <b id="docdesc"><i class="fas fa-star" id="docdesc"></i><i class="fas fa-star" id="docdesc"></i><i
                class="fas fa-star" id="docdesc"></i> <i class="far fa-star"></i><i class="far fa-star"
                id="docdesc"></i></b>
                 -->
          </h6>


        </div>
      </div>
      <div class="row" id="profile-head">

        <div class="col-2 col-md-2" id="one">
          <h6 class="text-center mobile" id="firstpairs" style="color:#fff"><span id="data1">{{FacDetails.Email}}</span></h6>

          <img src="assets/images/send message.png">

        </div>
        <div class="col-2 col-md-2"  id="two">
          <h6 class="text-center mobile" id="twopairs" style="color:#fff ;"><span id="data2">Favourite</span></h6>

          <img src="assets/images/favorite.png" *ngIf="!FacDetails.IsFav">
          <img src="assets/images/favo2.png" *ngIf="FacDetails.IsFav">


        </div>

        <div class="col-1 col-md-1"></div>

        <div class="col-2 col-md-2">
          <div id="hos-img"></div>
        </div>

        <div class="col-1 col-md-1"></div>

        <div class="col-2 col-md-2 "  id="three">
          <h6 class="text-center mobile " id="twopairs" style="color:#fff ;"><span id="data3">{{FacDetails.ContactNumber}}</span></h6>

          <img src="assets/images/call doctor.png">
        </div>

        <div class="col-2 col-md-2 "  id="four">
          <h6 class="text-center mobile" id="firstpairs" style="color:#fff ;"><span id="data4">Share</span></h6>

          <img src="assets/images/share doctor.png">

        </div>



      </div>

      <div class="row" id="profile-content">
        <!-- <div class="col-md-12">
          <h6 class="text-center doccontent">{{FacDetails.Reviews.length}} reviews</h6>
        </div> -->

        <div class=" col-md-10 offset-md-1 d-none d-md-block" id="mapdiv">

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding:1%">
        
            <div class="carousel-inner">
              <div class="carousel-item active">
                <agm-map [latitude]="Lat" [longitude]="Long" [zoom]="9">
                  <agm-marker [latitude]="Lat" [longitude]="Long"></agm-marker>
                </agm-map>
                <div class="col-md-12" id="mapdesc">
                  <h3 class="text-center doccontent">{{FacDetails.Name}}</h3>
                  <h6 class="text-center">{{FacDetails.Address}}</h6>
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="col-10  offset-1 d-block d-md-none" id="mapdiv">
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <agm-map [latitude]="Lat" [longitude]="Long" [zoom]="11">
                  <agm-marker [latitude]="Lat" [longitude]="Long"></agm-marker>
                </agm-map>
                <div class="col-md-12" id="mapdesc">
                  <h3 class="text-center doccontent">clinic 1</h3>
                  <h6 class="text-center">clinic 1 address clinic 1 address</h6>
                </div>
              </div>
             
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>


          </div>


        </div>
        <hr class=" d-md-none" style="color:#FF5545">
        <div class="d-block d-md-none col-10 offset-1">
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><img src="assets/images/Layer4.png" style="border-radius:5px"></div>
              <div class="swiper-slide"><img src="assets/images/Layer4.png" style="border-radius:5px"></div>
              <div class="swiper-slide"><img src="assets/images/Layer4.png" style="border-radius:5px"></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->
          </div>
        </div>

      </div>

    </div>
    <div class="col-lg-5 d-none d-sm-block">
      <div class="card-header text-center doclist-head">Photos</div>
      <div class="card mb-3" style="min-height:600px ; border-radius: 0 0 5px 5px ; ">
        <div class="card-body">
          <img src="{{FacDetails.Images[0]}}" style="border-radius:5px">
          <br>
          <br>
          <br>
          <div class="photos-container">
            <div class="row">


              <div class="col-md-4" *ngFor="let img of FacDetails.Images">
                <img class="d-block w-100" src="{{img}}" alt="First slide" style="cursor:pointer">
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 shadow specs">
      <div class="row">
        <div class="col-md-12">
          <div class="d-none d-md-block">
            <h1 class="text-center doccontent"><i class="fas fa-stethoscope fa-lg"></i></h1>
            <h3 class="text-center doccontent"><b>Sepcialty</b></h3>
            <h4 class="text-center"><img src="assets/images/linecopy2.png"></h4>

          </div>
          <div class="d-block d-md-none">
            <h4 class="text-center doccontent"><i class="fas fa-stethoscope"></i></h4>
            <h5 class="text-center doccontent"><b>Sepcialty</b></h5>

          </div>

        </div>
      </div>
      <div class="specs-container">
        <a class="item hvr-float" *ngFor="let spec of FacDetails.FacilitySpecialities">
          <div class="circle" (click)="DocsFilter(spec.Id)" [ngClass]="{'active-spec' : Spec == spec.Id}">
            <h1 class="text-center">
              <img src="{{spec.ImageUrl}}" class="image-spec">

            </h1>
            <h4 class="text-center">{{spec.name}}</h4>
          </div>


        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 shadow docs">
      <div class="row" id="docs">
        <div class="col-md-12">
          <div class="d-none d-md-block">
            <h1 class="text-center doccontent"><i class="fas fa-user-md fa-lg"></i></h1>
            <h3 class="text-center doccontent"><b>Our Doctors</b></h3>
            <h4 class="text-center"><img src="assets/images/linecopy2.png"></h4>

          </div>
          <div class="d-block d-md-none">
            <h4 class="text-center doccontent"><i class="fas fa-user-md"></i></h4>
            <h5 class="text-center doccontent"><b>Our Doctors</b></h5>
          </div>

        </div>
      </div>
      <div class="docs-container">
        <a class="item hvr-float" *ngFor="let doc of FacDocs">
          <h1 class="text-center">
            <a routerLink="/doc-profile/{{doc.Id}}/{{FacDetails.Id}}"> <img class="rounded-circle doc-img"
                src="{{doc.ImageUrl}}" (error)="doc.ImageUrl = 'assets/images/doctor.png'"></a>
          </h1>
          <h4 class="text-center" style="color:#FF5545"><a
              routerLink="/doc-profile/{{doc.Id}}/{{FacDetails.Id}}">{{doc.Name}}</a></h4>
          <h5 class="text-center">{{doc.Qualification}}</h5>
          <h6 class="text-center">
            <!-- s -->
          </h6>

        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 shadow docs">
      <div class="row">
        <div class="col-md-12">
          <div class="d-none d-md-block">
            <h1 class="text-center doccontent"><i class="fas fa-file-medical fa-lg"></i></h1>
            <h3 class="text-center doccontent"><b>Insurance</b></h3>
            <h4 class="text-center"><img src="assets/images/linecopy2.png"></h4>
          </div>
          <div class="d-block d-md-none">
            <h4 class="text-center doccontent"><i class="fas fa-file-medical fa-lg"></i></h4>
            <h5 class="text-center doccontent"><b>Insurance</b></h5>
          </div>
        </div>
      </div>
      <div class="ins-container">
        <a class="item  hvr-float" *ngFor="let ins of FacDetails.InsuranceCompanies">
          <h1 class="text-center">
            <img class="rounded-circle doc-img" src="{{ins.ImageUrl}}">
          </h1>
          <h4 class="text-center" style="color:#FF5545">{{ins.Name}}</h4>

        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 shadow" id="doc-tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item col-4 col-md-4" style="border-right:2px solid #bbbbbbbb">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#hom" role="tab" aria-controls="home"
            aria-selected="true">
            <p class="text-center">About Us</p>
          </a>
        </li>
        <li class="nav-item col-4 col-md-4" style="border-right:2px solid #bbbbbbbb">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#clinic" role="tab" aria-controls="clinic"
            aria-selected="false">
            <p class="text-center">Reviews</p>
          </a>
        </li>
        <li class="nav-item col-4 col-md-4">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating"
            aria-selected="false">
            <p class="text-center">General Info</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="hom" role="tabpanel" aria-labelledby="home-tab">
          <div id="doctabcontent">
            <div class="prostate" innerHTML={{FacDetails.Services}}>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="clinic" role="tabpanel" aria-labelledby="profile-tab">
          No Reviews.
        </div>
        <div class="tab-pane fade" id="rating" role="tabpanel" aria-labelledby="contact-tab">

          <p innerHTML="{{FacDetails.GeneralInfo}}">

          </p>

        </div>

      </div>

    </div>
  </div>

  <!-- <div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-10 shadow" id="our-team">
      <div class="row">
        <div class="col-md-12">
          <h1 id="doccontent" class="text-center"><i class="fas fa-user-md fa-lg"></i></h1>
          <h3 id="doccontent" class="text-center"><b>Our Doctors</b></h3>
          <h4 class="text-center"><img src="assets/images/linecopy2.png"></h4>
        </div>
      </div>
      <br>
      <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="../../assets/images/02_doctor_Insider-Tips-to-Choosing-the-Best-Primary-Care-Doctor_519507367_Stokkete.png">
                    <div class="team-content">
                      <h3 class="title">Williamson</h3>
                      <span class="post">Sepcialty</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/male-dentist_4460x4460.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/The-Dedicated-Doctor.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/Medical_Professional_stock.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="../../assets/images/02_doctor_Insider-Tips-to-Choosing-the-Best-Primary-Care-Doctor_519507367_Stokkete.png">
                    <div class="team-content">
                      <h3 class="title">Williamson</h3>
                      <span class="post">Sepcialty</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/male-dentist_4460x4460.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/The-Dedicated-Doctor.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/Medical_Professional_stock.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="../../assets/images/02_doctor_Insider-Tips-to-Choosing-the-Best-Primary-Care-Doctor_519507367_Stokkete.png">
                    <div class="team-content">
                      <h3 class="title">Williamson</h3>
                      <span class="post">Sepcialty</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/male-dentist_4460x4460.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/The-Dedicated-Doctor.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-team">
                    <img src="assets/images/Medical_Professional_stock.png">
                    <div class="team-content">
                      <h3 class="title">kristina</h3>
                      <span class="post">Web Designer</span>
                      <ul class="icon">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

        <a class="carousel-control-prev" style="margin-left:-8%" data-target="#carouselExampleIndicators1" role="button"
          data-slide="prev" id="sliderbtn">
          <i class="fas fa-caret-left fa-lg"></i>
        </a>
        <a class="carousel-control-next" style="margin-right:-8%" data-target="#carouselExampleIndicators1" role="button"
          data-slide="next" id="sliderbtn">
          <i class="fas fa-caret-right fa-lg"></i>
        </a>
      </div>

    </div>
  </div> -->

</section>
