
@media screen and (max-width: 600px) {
  #hos-img {
    margin-top: 120%;
    width: 120px;
    height: 120px;
    position: relative;
    right: 32.5%;
  }
  #mapdesc {
    padding: 6%;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #FF5545 !important;
  }

  #profile {
    background-image: url('../../assets/images/Rounded.png');
    background-size: 120% 135%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1%;
    border-radius: 5px;
    height:775px;
  }

  
  #hospital-profile {
    margin-top: 17%;
    padding: 5%;
    background-color: #ddd;
    height: 100%;

  }
  .mobile-view{
    margin-top: 20px;
  }
  .circle {
    background-image: url('../../assets/images/Ellipse11copy2.png');
    background-position: center;
    background-size: 70% 104%;
    background-repeat: no-repeat;
    height: 44px;

  }
  #firstpairs {
    margin-top: 50%;
  }

  #twopairs {
    margin-top: 200%;
  }

  .mobile {
    font-size: 10px;
  }
  .item{
    margin-right: 5% ;
    margin-left: 5% ;
    vertical-align: inherit; 
    width: 80px;
    display: inline-block;
    text-decoration: none;
  }
  
  .specs-container{
    padding: 1%; 
    width: 100%;
    height: 90px;
    overflow-x: auto ; 
    overflow-y: hidden;
    white-space: nowrap;

  }
  .docs-container{
    padding: 1%; 
    width: 100%;
    height: 190px;
    overflow-x: auto ; 
    overflow-y: hidden;
    white-space: nowrap;

  }
  .ins-container{
    padding: 1%; 
    width: 100%;
    height: 140px;
    overflow-x: auto ; 
    overflow-y: hidden;
    white-space: nowrap;

  }
  .image-spec{
    width: 30px ; 
    height: 30px;
    margin-left: -2%;
    margin-top: 5%
    
  }
  #specs{
    background-color: #fff; 
    padding: 1%;
    border-radius: 5px;

  }
  #docs{
    background-color: #fff; 
    padding: 1%;
    border-radius: 5px;

  }
  ::-webkit-scrollbar{
    display: none ; 
  }
  #doc-img {
    border: 1px solid #FF5545;
    width: 80px;
    height: 80px;
    position: relative;
  }
}
@media screen and (min-width: 600px) {
  #hos-img {
    margin-top: 10%;
    width: 120px;
    height: 120px;
    position: relative;
    right: 32.5%;
  }
  #mapdesc {
    padding: 5%;
  }
  #doc-img {
    border: 1px solid #FF5545;
    width: 120px;
    height: 120px;
    position: relative;
  }
  .item{
    margin-right: 5% ;
    margin-left: 5% ;
    vertical-align: inherit; 
    width: 120px;
    display: inline-block;
    text-decoration: none;
  }
  
  .specs-container{
    padding: 1%; 
    width: 100%;
    height: 120px;
    overflow-x: auto ; 
    overflow-y: hidden;
    white-space: nowrap;

  }
  .docs-container{
    padding: 1%; 
    width: 100%;
    height: 250px;
    overflow-x: auto ; 
    overflow-y: hidden;
    white-space: nowrap;

  }
  .ins-container{
    padding: 1%; 
    width: 100%;
    height: 200px;
    overflow-x: auto ; 
    overflow-y: hidden;
    white-space: nowrap;

  }
  .image-spec{
    width: 50px ; 
    height: 50px;
    margin-left: -2%;
    margin-top: 5%
    
  }
  #specs{
    background-color: #fff; 
    padding: 1%;
    border-radius: 5px;

  }
  #docs{
    background-color: #fff; 
    padding: 1%;
    border-radius: 5px;

  }
  #profile {
    background-image: url('../../assets/images/Rounded.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 15px;
    height:650px;
  }
  
  #hospital-profile {
    margin-top: -8%;
    padding: 5%;
    background-color: #ddd;
    height: 100%;
  }
  
  .circle {
    background-image: url('../../assets/images/Ellipse11copy2.png') ; 
    background-position: center ; 
    background-size: 65px 100% ;
    background-repeat: no-repeat;
    height: 65px;  
    
  }
  #firstpairs{
    margin-top: -10%;
  }

  #twopairs{
    margin-top: 65%;
  }
  ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar{
    width: 12px;
    height: 8px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FF5545;
  }
  
}
.swiper-container {
  width: 100%;
  height: 100%;
}


  #photos-container{
    max-height: 225px; 
    overflow-y: scroll ; 
    overflow-x: hidden ; 
    width: 100%  ; 

  }
  #navlinks {
    border-right: 1px solid #FF5545;
    color: white;
  }
  
  .landing {
    padding: 2%
  }
  
  .homebuttons {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
  }
  
  .image {
    width: 100%;
    height: 100%;
  }
  
  
  #buttonsintro {
    border-radius: 5px;
    width: 100%;
    color: #fff;
    padding: 2%;
    background-color: #FF5545;
    border: 1px solid #FF5545 ; 
    cursor: pointer;
  }
  
  #introfooter {
    margin: 5%;
  }
  
  #buttonheader {
    border: 1px solid white;
    border-radius: 8px;
    background: transparent;
    color: white;
  }
  
  
  
  
  #profile-icons {
    margin-top: 30%;
    color: #FF5545;
  }
  
  #profile-head {
    padding: 2%;
  }
  
  #docdesc {
    color: white;
  }
  
  #doccontent {
    color: #FF5545;
  }
  
  #mapdiv {
    padding: 1%;
    width: 100%;
  }
  
  #map {
    width: 100%;
    border-radius: 2%;
  }
  
  
  
  #mapslider {
    background-color: #e1e1e1;
  }
  
  #doclist-head {
    color: #fff;
    background-color: #FF5545;
    border-radius: 5px 5px 0 0 ;
  
  }
  
  #dropdownform {
    border-bottom: 1px solid #bdbdbd;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    color: #bdbdbd;
    width: 100%;
    padding: 1%;
  
  }
  #docicon{
    color: #FF5545;
}
  
  #inputform {
    border-bottom: 1px solid #bdbdbd;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    color: #bdbdbd;
    width: 100%;
    padding: 1%;
  }
  
  
  label {
    color: #bdbdbd;
  }
  
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdbdbd;
    opacity: 1;
    /* Firefox */
  }
  
  
  #doc-tabs {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 1%;
    
  
  }
 
  
  .shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: 0;
  }
  
  #prostate {
    text-align: left;
    margin: 4%;
  
  }
  
  #certs {
    text-align: left;
    margin: 4%;
  
  }
  .our-team{
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  .our-team img{
    width: 100%;
    height: 250px;
    transform: scale(1);
    transition: all 1s ease 0s;
  }
  .our-team:hover img{
    transform: scale(1.2);
  }
  .our-team .team-content{
    width: 100%;
    height: 100%;
    background: #FF5545;
    border-radius: 50%;
    padding-top: 25%;
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-out 0s;
  }
  .our-team:hover .team-content{
    opacity: 0.8;
  }
  .our-team .title{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 8px 0;
    opacity: 0;
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out 0.2s;
  }
  .our-team:hover .title{
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.1s;
  }
  .our-team .post{
    display: block;
    font-size: 17px;
    margin-bottom: 15px;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out 0.2s;
  }
  .our-team:hover .post{
    opacity: 1;
    transform: scale(1);
  }
  .our-team .icon{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .our-team .icon li{
    display: inline-block;
  }
  .our-team .icon li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 18px;
    color: #fff;
    margin-right: 6px;
    transition: all 0.3s ease 0s;
  }
  .our-team .icon li a:hover{
    background: #e6af2e;
    border: 1px solid #e6af2e;
  }
  @media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
  }
  #our-team {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 1%;
    padding-top: 4%;
    padding-bottom: 4%;
  
  }
  
  #sliderbtn{
    color: #FF5545 ; 
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #FF5545 !important ; 
    border-bottom: 3px solid #FF5545 !important ;
    border: 1px solid #fff;

}
.nav-tabs .nav-link{
  color: #000000 ;
  width: 100%;
  font-weight: bolder ; 
  
}
.nav-tabs .nav-link:hover{
  border: 0px solid #ffffff;
  
}
.nav-tabs {
  border-bottom: 1px solid #ffffff;
}
