   
<section id="myprofile">
        <div class="row">
            <div class="col-1 col-lg-3  col-md-1"></div>
            <div>
                <ul class="nav" style="padding-bottom:1%">
                    <li class="nav-item">
                      <a href="#" style="color:#FF5545">Home</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" style="color:#FF5545"> &nbsp;/ My Profile</a>
                    </li>
                  </ul>
                      
            </div>
                      
          </div>
      <div class="row">
        <div class="col-lg-3 col-md-1"></div>
        <div class="col-lg-6 col-md-10 shadow">
            <div class="photo"id="rectangle">
  
                <div class="row">
                    <div class="col-4 col-md-5"></div>
                    <div class="col-4 col-md-2">
                      <img class="circle" src="assets/images/Medical_Professional_stock.png">
                    </div>
                    <div class=" col-md-5"></div>
                  </div>
                
            </div>
            
          <div id="headline">
              <br>
              <br>
              <br>
              <h4 class="text-center" style="color:#FF5545"><b>Mariam Roshdy</b></h4>
              <br>
          </div>
          
          <div class="row">
            <div class="col-1 col-md-1"></div>
            <div class="col-10 col-md-10">
              <h5 id="form-head"><i class="fas fa-user"></i>&nbsp;&nbsp;<b>PERSONAL INFO</b></h5>
              <hr>
              
              <form id="personal-info">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="row">
                         <div class="col-1 col-md-1">
                            <i class="fas fa-user fa-lg" id="docicon"></i>
                         </div>  
                         <div class="col-5 col-md-5">
                           <input id="inputform" type="text" placeholder="First Name">
         
                         </div> 
                         <div class="col-5 col-md-5">
                             <input id="inputform" type="text" placeholder="Last Name">
           
                           </div> 
                           
                       </div>
                       <br>
                       <div class="row">
                         <div class="col-1 col-md-1">
                            <i class="far fa-calendar fa-lg" id="docicon"></i>
                         </div>
                         <div class="col-5 col-md-5">
                           <input id="inputform" type="date" placeholder="dd/mm/yy">
                         </div>
                         <div class="col-1 col-md-1">
                            <i class="fas fa-venus-mars fa-lg" id="docicon"></i>
                         </div>
                         <div class="col-4 col-md-4">
                           <input id="inputform" type="text" placeholder="Female">
                         </div>  
         
                       </div>
                       <br>
                       <div class="row">
                           <div class="col-1 col-md-1"><i class="fas fa-map-marker-alt fa-lg" id="docicon"></i></div>
                           <div class="col-10 col-md-10">
                             <input id="inputform" type="text" placeholder="Address">
                           </div>
                         </div>
                         <br>
                         
         
                      </div> 
                    <div class="col-12 col-md-6">
                        <div class="row">
                           <div class="col-1 col-md-1">
                              <i class="fas fa-mobile-alt fa-lg" id="docicon"></i>
                           </div>  
                           <div class="col-5 col-md-6">
                             <input id="inputform" type="number" placeholder="Mobile Number">
           
                           </div>
                             
                         </div>
                         <br>
                        <div class="row">
                           <div class="col-1 col-md-1">
                              <i class="fas fa-at fa-lg" id="docicon"></i>
                           </div>
                           <div class="col-10 col-md-10">
                             <input id="inputform" type="email" placeholder="Email">
                           </div>
                         </div>
                         <br>
                    </div> 
                               
                </div> 
                <div class="row">
                  <div class="col-4 col-md-4"></div>
                  <div class="col-4 col-md-4">
                    <button id="buttonsintro">Save</button>
                  </div>
                  
                </div> 
                <br>
  
              </form>
  
              
              <h5 id="form-head"><i class="far fa-credit-card"></i>&nbsp;&nbsp;<b>INSURANCE</b></h5>
              <hr>
  
              <form id="Insurance">
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <select class="custom-select custom-select-sm" id="dropdownform">
                        <option selected>Choose an isurance company</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      </div>
                           
                  </div> 
                  <br>
                  <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <input id="inputform" placeholder="Add Insurance Card">
                        </div>
                             
                  </div> 
                  <br>
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <button id="buttonsintro">Add Insurance</button>
                    </div>
                    
                  </div> 
                  <br>
    
              </form>
              
              <h5 id="form-head"><i class="fas fa-lock"></i>&nbsp;&nbsp;<b>CHANGE PASSWORD</b></h5>
              <hr>
              
              <form id="password">
                  <div class="row">
                    <div class="col-4 col-md-4"></div>
                    <div class="col-4 col-md-4">
                      
                      </div>
                           
                  </div> 
                  <br>
                  <div class="row">
                      <div class=" col-md-3">
                      </div>
                      <div class="col-1 col-md-1">
                          <i class="fas fa-lock fa-lg pull-right" id="docicon"></i>
                      </div>
                      <div class="col-10 col-md-4">
                        <input id="inputform" placeholder="Change Password">
                      </div>
                             
                  </div> 
                  <br>
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <button id="buttonsintro">Change Password</button>
                    </div>
                    
                  </div> 
                  <br>
                  <br>
  
              </form>
  
            </div>
              
          </div>
          
        </div>
      </div>
</section>
