<div class="page-loader-wrapper" id="page-loader">
  <div class="loader">
    <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/loading-icon.gif" width="200" height="200"
        alt="Oreo">
    </div>
    <p>Please wait...</p>
  </div>
</div>
<section id="myprofile">
  <div class="row">
    <div class="col-1 col-lg-3  col-md-1"></div>
    <div>
      <ul class="nav" style="padding-bottom:1%">
        <li class="nav-item">
          <a href="#" style="color:#FF5545">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" style="color:#FF5545"> &nbsp;/ My Profile</a>
        </li>
      </ul>

    </div>

  </div>
  <div class="row">
    <div class="col-lg-3 col-md-1"></div>
    <div class="col-lg-6 col-md-10 shadow">
      <div class="photo" id="rectangle">

        <div class="row">
          <div class="col-4 col-md-5"></div>
          <div class="col-4 col-md-2">
            <h5 class="text-center">
              <img class="circle" src="{{UserData.Image}}" (error)="UserData.Image = 'assets/images/user.png'">
            </h5>
            <div class="upload-btn-wrapper">
              <button class="upload-btn"><i class="fas fa-camera icons"></i></button>
              <input type="file" name="myfile" (change)="onFileChanged($event)" />
            </div>
          </div>
          <div class=" col-md-5"></div>
        </div>

      </div>

      <div id="headline">
        <br>
        <br>
        <br>
        <h4 class="text-center" style="color:#FF5545"><b>{{UserData.FirstName}}&nbsp;{{UserData.LastName}}</b></h4>
        <br>
      </div>

      <div class="row">
        <div class="col-1 col-md-1"></div>
        <div class="col-10 col-md-10">
          <h5 class="form-head"><i class="fas fa-user"></i>&nbsp;&nbsp;<b>PERSONAL INFO</b></h5>
          <hr>

          <form id="personal-info" (ngSubmit)="EditPro()">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="col-1 col-md-1">
                    <i class="fas fa-user fa-lg docicon"></i>
                  </div>
                  <div class="col-5 col-md-5">
                    <input class="inputform" type="text" placeholder="First Name" [(ngModel)]="UserData.FirstName"
                      [ngModelOptions]="{standalone: true}">

                  </div>
                  <div class="col-5 col-md-5">
                    <input class="inputform" type="text" placeholder="Last Name" [(ngModel)]="UserData.LastName"
                      [ngModelOptions]="{standalone: true}">

                  </div>

                </div>
                <br>
                <div class="row">
                  <div class="col-1 col-md-1">
                    <i class="far fa-calendar fa-lg docicon"></i>
                  </div>
                  <div class="col-5 col-md-10">
                    <input class="inputform" type="date" placeholder="dd/mm/yy" [(ngModel)]="UserData.DOB"
                      [ngModelOptions]="{standalone: true}">
                  </div>


                </div>
                <br>
              </div>
              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="col-1 col-md-1">
                    <i class="fas fa-mobile-alt fa-lg docicon"></i>
                  </div>
                  <div class="col-3 col-md-4">
                    <select class="dropdownform" [(ngModel)]="Code" [ngModelOptions]="{standalone: true}"
                      style="margin-top:6%">
                      <option *ngFor="let code of Codes" [value]="code.code">{{code.name}} ({{code.code}})</option>
                    </select>
                  </div>

                  <div class="col-5 col-md-6">
                    <input class="inputform" type="text" placeholder="Mobile Number" [(ngModel)]="UserData.MobileNumber"
                      [ngModelOptions]="{standalone: true}">


                  </div>

                </div>
                <br>
                <div class="row">
                  <div class="col-1 col-md-1">
                    <i class="fas fa-at fa-lg docicon"></i>
                  </div>
                  <div class="col-10 col-md-10">
                    <input class="inputform" type="email" placeholder="Email" [(ngModel)]="UserData.Email"
                      [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <br>
              </div>
              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="col-1 col-md-1">
                    <i class="far fa-address-card fa-lg docicon"></i>
                  </div>
                  <div class="col-5 col-md-10">
                    <input class="inputform" type="text" placeholder="CPR Number" [(ngModel)]="UserData.CprNumber"
                      [ngModelOptions]="{standalone: true}">

                  </div>
                </div>
              </div>
            </div>
            <br>
            <h5 class="form-head"><i class="far fa-credit-card"></i>&nbsp;&nbsp;<b>INSURANCE</b></h5>
            <hr>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <select class="custom-select custom-select-sm dropdownform" [(ngModel)]="UserData.InsuranceCompanyId"
                  [ngModelOptions]="{standalone: true}">
                  <option selected value="" disabled>Choose an isurance company</option>
                  <option value="{{comp.Id}}" *ngFor="let comp of Comps">{{comp.Name}}</option>
                </select>
              </div>

            </div>
            <!-- <br>
               <div class="row">
                 <div class="col-md-4"></div>
                 <div class="col-md-4">
                   <input class="inputform" placeholder="Add Insurance Card">
                 </div>

               </div> -->
            <br>
            <h5 class="form-head"><i class="fas fa-lock"></i>&nbsp;&nbsp;<b>CHANGE PASSWORD</b></h5>
            <hr>

            <div class="row">
              <div class=" col-md-3">
              </div>
              <div class="col-1 col-md-1">
                <i class="fas fa-lock fa-lg pull-right docicon"></i>
              </div>
              <div class="col-10 col-md-4">
                <input class="inputform" type="password" placeholder="Change Password" [(ngModel)]="UserData.Password"
                  [ngModelOptions]="{standalone: true}">
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button class="buttonsintro" type="submit">Save </button>
              </div>

            </div>
            <br>
          </form>

        </div>

      </div>

    </div>
  </div>
</section>
