
  <section id="signup">
    <div class="row">
      <div class="col-lg-4 col-md-2"></div>
      <div class="col-lg-4 col-md-8">
        <div class="card-header text-center" id="doclist-head">
          <h4>CREATE AN ACCOUNT</h4>
        </div>
        <div class="card mb-3" id="login-div">
          <div class="card-body">
            <form id="sign-form">

              <div class="col-md-12">
                <div class="row">
                  <div class="col-4 col-md-4"></div>
                  <div class="col-4 col-md-5">
                    <div class="circle-form"></div>
                  </div>
                </div>

              </div>
              <br>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-1 col-md-1"></div>
                  <div class="col-1 col-md-1">
                    <h3 class="text-center">
                      <i class="fas fa-user" id="icons"></i>

                    </h3>

                  </div>
                  <div class="col-4 col-md-4">
                    <input type="text" placeholder="First Name" class="input-form">
                    <hr>
                  </div>
                  <div class="col-4 col-md-4">
                      <input type="text" placeholder="Last Name" class="input-form">
                    <hr>

                  </div>

                </div>


              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-1 col-md-1"></div>
                  <div class="col-1 col-md-1">
                    <h3 class="text-center"><i class="far fa-calendar" id="icons"></i></h3>
                  </div>
                  <div class="col-8 col-md-8">
                    <input type="date" class="input-form" placeholder="DD/MM/YY">
                    <hr>
                  </div>

                </div>

              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-1 col-md-1 "></div>
                  <div class="col-1 col-md-1">
                    <h3 class="text-center"><i class="fas fa-venus-mars" id="icons"></i></h3>
                  </div>
                  <div class="col-3 col-md-2">
                    <b style="font-size:10px">Gender</b>
                  </div>
                  <div class="col-2 col-md-3">
                    <input type="radio" name="Gender">
                    <label style="font-size:11px">&nbsp;<b>Male</b></label>

                  </div>
                  <div class="col-2 col-md-3">
                    <input type="radio" name="Gender">
                    <label style="font-size:11px">&nbsp;<b>Female</b></label>
                  </div>

                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-1 col-md-1"></div>
                  <div class="col-1 col-md-1">
                    <h3 class="text-center"><i class="fas fa-mobile-alt" id="icons"></i></h3>
                  </div>
                  <div class="col-8 col-md-8">
                    <input type="number" class="input-form" placeholder="Mobile Number">
                    <hr>

                  </div>
                </div>

              </div>


              <div class="col-md-12">
                <div class="row">

                  <div class="col-1 col-md-1"></div>
                  <div class="col-1 col-md-1">
                    <h3 class="text-center"><i class="fas fa-envelope" id="icons"></i></h3>
                  </div>
                  <div class="col-8 col-md-8">
                    <input type="email" class="input-form" placeholder="E-mail">
                    <hr>
                  </div>

                </div>

              </div>


              <div class="col-md-12">
                <div class="row">
                  <div class="col-1 col-md-1"></div>
                  <div class="col-1 col-md-1">
                    <h3 class="text-center"><i class="fas fa-unlock-alt" id="icons"></i></h3>
                  </div>
                  <div class="col-8 col-md-8">
                    <input type="password" class="input-form" placeholder="Password">
                    <hr>
                  </div>
                  
                </div>

              </div>


              <div class="col-md-12">
                <div class="row">
                  <div class="col-1 col-md-1"></div>
                  <div class="col-1 col-md-1">
                    <input type="checkbox">
                  </div>
                  <div class="col-7 col-md-7">
                    <h5>Accept terms & conditions</h5>
                  </div>


                </div>


              </div>
              <div class="row">
                <div class="col-1 col-md-1"></div>
                <div class="col-10 col-md-10">
                  <button class="buttonsintro">CREATE ACCOUNT</button>
                </div>

              </div>
              <br>
              <div class="row">
                <div class="col-1  col-md-1"></div>
                <div class="col-10 col-md-10">
                  <button class="buttonsintrofb"><i class="fab fa-facebook-f fa-lg"></i>&nbsp;&nbsp;&nbsp;CONNECT WITH
                    FACEBOOK</button>
                </div>

              </div>

            </form>


          </div>
        </div>

      </div>

    </div>
  </section>
