<section id="myappoinments">

  <div class="row">
    <div class="col-1 col-md-1"></div>
    <div>
      <ul class="nav" style="padding-bottom:1%">
        <li class="nav-item">
          <a href="#" style="color:#FF5545">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/favourites" style="color:#FF5545"> &nbsp;/ Favourites</a>
        </li>
      </ul>

    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="sec-head">
        <h3><b>Favourites</b></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 ">
        <div class="row">
          <div class="col-md-12" id="myappointments-tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

              <li class="nav-item col-lg-6 col-6">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#hom" role="tab" aria-controls="home"
                  aria-selected="true">
                  <p class="text-center tab-title">Doctors</p>
                </a>
              </li>
              <li class="nav-item col-lg-6 col-6">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#clinic" role="tab" aria-controls="clinic"
                  aria-selected="false">
                  <p class="text-center tab-title">Facilites</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-12">
            <div class="tab-content  myappointments-tabs" id="myTabContent">
              <div class="tab-pane fade show active" id="hom" role="tabpanel" aria-labelledby="home-tab">
                <br>
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <div class="card mb-3 doc-card" id="doc-card1">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-10 col-lg-11">
                            <div class="row">
                              <img class="rounded-circle" id="doc-img" width="80" height="80" src="assets/images/Medical_Professional_stock.png">
                              <div class="col-6 col-md-5">
                                <ul class="list-unstyled">
                                  <li id="doc-list" style="color:#FF5545">
                                    <h2 class="d-none d-md-block">
                                        Doctor Name
                                    </h2>
                                    <h4 class="d-block d-md-none">
                                      Doctor Name
                                    </h4>
                                  
                                  </li>
                                  <li id="doc-list">
                                    Specialty
                                  </li>
                                  <li id="doc-list">
                                    Clinic Name
                                  </li>
                                  <li id="doc-list">
                                    Zamalek, Cairo
                                  </li>
                                  <li id="doc-list">
                                    <i class="fas fa-star" id="docicon"></i><i class="fas fa-star" id="docicon"></i><i class="fas fa-star"
                                      id="docicon"></i> <i class="far fa-star"></i><i class="far fa-star"></i>
                                  </li>
              
              
                                </ul>
              
                              </div>
              
                            </div>
              
                          </div>
                          <div class="col-1 d-block d-sm-none">
                              <a id="favo">
                                <h3>                                  
                                    <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                
                                </h3>
                              </a>
                          </div>
              
                          <div class="col-md-1 d-none d-sm-block">

                              <h3>
                                  <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                              </h3>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-10 d-none d-md-block">
                            <div class="row">
                              <div class="col-md-5">
                                <p><i class="fas fa-phone fa-lg" id="docicon"></i>&nbsp; 012345678921
                                </p>
                              </div>
              
                              <div class="col-md-5">
                                <p><i class="fas fa-envelope fa-lg" id="docicon"></i>&nbsp; Send message</p>
                              </div>
              
                            </div>
                          </div>
              
              
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12">
                    <div class="card mb-3 doc-card" id="doc-card1">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-10 col-lg-11">
                            <div class="row">
                              <img class="rounded-circle" id="doc-img" width="80" height="80" src="assets/images/Medical_Professional_stock.png">
                              <div class="col-6 col-md-5">
                                <ul class="list-unstyled">
                                  <li id="doc-list" style="color:#FF5545">
                                    <h2 class="d-none d-md-block">
                                        Doctor Name
                                    </h2>
                                    <h4 class="d-block d-md-none">
                                      Doctor Name
                                    </h4>
                                  
                                  </li>
                                  <li id="doc-list">
                                    Specialty
                                  </li>
                                  <li id="doc-list">
                                    Clinic Name
                                  </li>
                                  <li id="doc-list">
                                    Zamalek, Cairo
                                  </li>
                                  <li id="doc-list">
                                    <i class="fas fa-star" id="docicon"></i><i class="fas fa-star" id="docicon"></i><i class="fas fa-star"
                                      id="docicon"></i> <i class="far fa-star"></i><i class="far fa-star"></i>
                                  </li>
              
              
                                </ul>
              
                              </div>
              
                            </div>
              
                          </div>
                          <div class="col-1 d-block d-sm-none">
                              <a id="favo">
                                <h3>                                  
                                    <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                
                                </h3>
                              </a>
                          </div>
              
                          <div class="col-md-1 d-none d-sm-block">

                              <h3>
                                  <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                              </h3>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-10 d-none d-md-block">
                            <div class="row">
                              <div class="col-md-5">
                                <p><i class="fas fa-phone fa-lg" id="docicon"></i>&nbsp; 012345678921
                                </p>
                              </div>
              
                              <div class="col-md-5">
                                <p><i class="fas fa-envelope fa-lg" id="docicon"></i>&nbsp; Send message</p>
                              </div>
              
                            </div>
                          </div>
              
              
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12">
                    <div class="card mb-3 doc-card" id="doc-card1">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-10 col-lg-11">
                            <div class="row">
                              <img class="rounded-circle" id="doc-img" width="80" height="80" src="assets/images/Medical_Professional_stock.png">
                              <div class="col-6 col-md-5">
                                <ul class="list-unstyled">
                                  <li id="doc-list" style="color:#FF5545">
                                    <h2 class="d-none d-md-block">
                                        Doctor Name
                                    </h2>
                                    <h4 class="d-block d-md-none">
                                      Doctor Name
                                    </h4>
                                  
                                  </li>
                                  <li id="doc-list">
                                    Specialty
                                  </li>
                                  <li id="doc-list">
                                    Clinic Name
                                  </li>
                                  <li id="doc-list">
                                    Zamalek, Cairo
                                  </li>
                                  <li id="doc-list">
                                    <i class="fas fa-star" id="docicon"></i><i class="fas fa-star" id="docicon"></i><i class="fas fa-star"
                                      id="docicon"></i> <i class="far fa-star"></i><i class="far fa-star"></i>
                                  </li>
              
              
                                </ul>
              
                              </div>
              
                            </div>
              
                          </div>
                          <div class="col-1 d-block d-sm-none">
                              <a id="favo">
                                <h3>                                  
                                    <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                
                                </h3>
                              </a>
                          </div>
              
                          <div class="col-md-1 d-none d-sm-block">

                              <h3>
                                  <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                              </h3>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-10 d-none d-md-block">
                            <div class="row">
                              <div class="col-md-5">
                                <p><i class="fas fa-phone fa-lg" id="docicon"></i>&nbsp; 012345678921
                                </p>
                              </div>
              
                              <div class="col-md-5">
                                <p><i class="fas fa-envelope fa-lg" id="docicon"></i>&nbsp; Send message</p>
                              </div>
              
                            </div>
                          </div>
              
              
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12">
                    <div class="card mb-3 doc-card" id="doc-card1">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-10 col-lg-11">
                            <div class="row">
                              <img class="rounded-circle" id="doc-img" width="80" height="80" src="assets/images/Medical_Professional_stock.png">
                              <div class="col-6 col-md-5">
                                <ul class="list-unstyled">
                                  <li id="doc-list" style="color:#FF5545">
                                    <h2 class="d-none d-md-block">
                                        Doctor Name
                                    </h2>
                                    <h4 class="d-block d-md-none">
                                      Doctor Name
                                    </h4>
                                  
                                  </li>
                                  <li id="doc-list">
                                    Specialty
                                  </li>
                                  <li id="doc-list">
                                    Clinic Name
                                  </li>
                                  <li id="doc-list">
                                    Zamalek, Cairo
                                  </li>
                                  <li id="doc-list">
                                    <i class="fas fa-star" id="docicon"></i><i class="fas fa-star" id="docicon"></i><i class="fas fa-star"
                                      id="docicon"></i> <i class="far fa-star"></i><i class="far fa-star"></i>
                                  </li>
              
              
                                </ul>
              
                              </div>
              
                            </div>
              
                          </div>
                          <div class="col-1 d-block d-sm-none">
                              <a id="favo">
                                <h3>                                  
                                    <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                
                                </h3>
                              </a>
                          </div>
              
                          <div class="col-md-1 d-none d-sm-block">

                              <h3>
                                  <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                              </h3>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-10 d-none d-md-block">
                            <div class="row">
                              <div class="col-md-5">
                                <p><i class="fas fa-phone fa-lg" id="docicon"></i>&nbsp; 012345678921
                                </p>
                              </div>
              
                              <div class="col-md-5">
                                <p><i class="fas fa-envelope fa-lg" id="docicon"></i>&nbsp; Send message</p>
                              </div>
              
                            </div>
                          </div>
              
              
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="tab-pane fade" id="clinic" role="tabpanel" aria-labelledby="profile-tab">
                  <br>
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card mb-3 doc-card" id="hos-card1">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-11">
                                  <div class="row">
                                    <img class="rounded-circle" id="doc-img" width="80" height="80" src="assets/images/Layer4.png">
                                    <div class="col-6 col-md-5">
                                      <ul class="list-unstyled">
                                        <li id="doc-list" style="color:#FF5545">
                                          <h2 class="d-none d-md-block">
                                            Hospital Name
                                          </h2>
                                          <h4 class="d-block d-md-none">
                                            Hospital Name
                                          </h4>
                                        </li>
                                        <li id="doc-list">
                                          <h5>
                                            Zamalek, Cairo
                                          </h5>
                                        </li>
                                        <li id="doc-list">
                                          <h5>
                                            <i class="fas fa-star" id="docicon"></i><i class="fas fa-star" id="docicon"></i><i class="fas fa-star"
                                              id="docicon"></i> <i class="far fa-star"></i><i class="far fa-star"></i>
                    
                                          </h5>
                    
                                        </li>
                    
                    
                                      </ul>
                    
                                    </div>
                                    <div class="col-md-1 d-block d-sm-none">
                                        <h3>
                                            <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                          
                                        </h3>
                                    </div>
                    
                    
                                  </div>
                    
                                </div>
                                <div class="col-md-1 d-none d-sm-block">
                                  
                                    <h3>
                                        <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                  
                                    </h3>
                                  
                                </div>
                                <div class="col-md-12">
                                  <div class="row" style="margin-top:10%;">
                                    <div class="col-md-6 col-6">
                                      <h6 class="text-center"><i class="fas fa-phone fa-lg" id="docicon"></i>&nbsp; 012345678921
                                      </h6>
                                    </div>
                    
                                    <div class="col-md-6 col-6 ">
                                      <h6 class="text-center"><i class="fas fa-envelope fa-lg" id="docicon"></i>&nbsp; Send message</h6>
                                    </div>
                    
                                    <div class="col-md-6 col-6">
                                      <h6 class="text-center"><i class="fas fa-map-marker-alt fa-lg" id="docicon"></i>&nbsp; Location</h6>
                                    </div>
                    
                                    <div class="col-md-6 col-6">
                                      <h6 class="text-center"><i class="fas fa-globe fa-lg" id="docicon"></i>&nbsp; Website</h6>
                                    </div>
                    
                    
                                  </div>
                    
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
  
                    <div class="col-lg-6 col-md-12">
                      <div class="card mb-3 doc-card" id="hos-card1">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-11">
                                <div class="row">
                                  <img class="rounded-circle" id="doc-img" width="80" height="80" src="assets/images/Layer4.png">
                                  <div class="col-6 col-md-5">
                                    <ul class="list-unstyled">
                                      <li id="doc-list" style="color:#FF5545">
                                        <h2 class="d-none d-md-block">
                                          Hospital Name
                                        </h2>
                                        <h4 class="d-block d-md-none">
                                          Hospital Name
                                        </h4>
                                      </li>
                                      <li id="doc-list">
                                        <h5>
                                          Zamalek, Cairo
                                        </h5>
                                      </li>
                                      <li id="doc-list">
                                        <h5>
                                          <i class="fas fa-star" id="docicon"></i><i class="fas fa-star" id="docicon"></i><i class="fas fa-star"
                                            id="docicon"></i> <i class="far fa-star"></i><i class="far fa-star"></i>
                  
                                        </h5>
                  
                                      </li>
                  
                  
                                    </ul>
                  
                                  </div>
                                  <div class="col-md-1 d-block d-sm-none">
                                      <h3>
                                          <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                        
                                      </h3>
                                  </div>
                  
                  
                                </div>
                  
                              </div>
                              <div class="col-md-1 d-none d-sm-block">
                                
                                  <h3>
                                      <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                
                                  </h3>
                                
                              </div>
                              <div class="col-md-12">
                                <div class="row" style="margin-top:10%;">
                                  <div class="col-md-6 col-6">
                                    <h6 class="text-center"><i class="fas fa-phone fa-lg" id="docicon"></i>&nbsp; 012345678921
                                    </h6>
                                  </div>
                  
                                  <div class="col-md-6 col-6 ">
                                    <h6 class="text-center"><i class="fas fa-envelope fa-lg" id="docicon"></i>&nbsp; Send message</h6>
                                  </div>
                  
                                  <div class="col-md-6 col-6">
                                    <h6 class="text-center"><i class="fas fa-map-marker-alt fa-lg" id="docicon"></i>&nbsp; Location</h6>
                                  </div>
                  
                                  <div class="col-md-6 col-6">
                                    <h6 class="text-center"><i class="fas fa-globe fa-lg" id="docicon"></i>&nbsp; Website</h6>
                                  </div>
                  
                  
                                </div>
                  
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-6 col-md-12">
                    <div class="card mb-3 doc-card" id="hos-card1">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-11">
                              <div class="row">
                                <img class="rounded-circle" id="doc-img" width="80" height="80" src="assets/images/Layer4.png">
                                <div class="col-6 col-md-5">
                                  <ul class="list-unstyled">
                                    <li id="doc-list" style="color:#FF5545">
                                      <h2 class="d-none d-md-block">
                                        Hospital Name
                                      </h2>
                                      <h4 class="d-block d-md-none">
                                        Hospital Name
                                      </h4>
                                    </li>
                                    <li id="doc-list">
                                      <h5>
                                        Zamalek, Cairo
                                      </h5>
                                    </li>
                                    <li id="doc-list">
                                      <h5>
                                        <i class="fas fa-star" id="docicon"></i><i class="fas fa-star" id="docicon"></i><i class="fas fa-star"
                                          id="docicon"></i> <i class="far fa-star"></i><i class="far fa-star"></i>
                
                                      </h5>
                
                                    </li>
                
                
                                  </ul>
                
                                </div>
                                <div class="col-md-1 d-block d-sm-none">
                                    <h3>
                                        <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                      
                                    </h3>
                                </div>
                
                
                              </div>
                
                            </div>
                            <div class="col-md-1 d-none d-sm-block">
                              
                                <h3>
                                    <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                              
                                </h3>
                              
                            </div>
                            <div class="col-md-12">
                              <div class="row" style="margin-top:10%;">
                                <div class="col-md-6 col-6">
                                  <h6 class="text-center"><i class="fas fa-phone fa-lg" id="docicon"></i>&nbsp; 012345678921
                                  </h6>
                                </div>
                
                                <div class="col-md-6 col-6 ">
                                  <h6 class="text-center"><i class="fas fa-envelope fa-lg" id="docicon"></i>&nbsp; Send message</h6>
                                </div>
                
                                <div class="col-md-6 col-6">
                                  <h6 class="text-center"><i class="fas fa-map-marker-alt fa-lg" id="docicon"></i>&nbsp; Location</h6>
                                </div>
                
                                <div class="col-md-6 col-6">
                                  <h6 class="text-center"><i class="fas fa-globe fa-lg" id="docicon"></i>&nbsp; Website</h6>
                                </div>
                
                
                              </div>
                
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <div class="col-lg-6 col-md-12">
                  <div class="card mb-3 doc-card" id="hos-card1">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-11">
                            <div class="row">
                              <img class="rounded-circle" id="doc-img" width="80" height="80" src="assets/images/Layer4.png">
                              <div class="col-6 col-md-5">
                                <ul class="list-unstyled">
                                  <li id="doc-list" style="color:#FF5545">
                                    <h2 class="d-none d-md-block">
                                      Hospital Name
                                    </h2>
                                    <h4 class="d-block d-md-none">
                                      Hospital Name
                                    </h4>
                                  </li>
                                  <li id="doc-list">
                                    <h5>
                                      Zamalek, Cairo
                                    </h5>
                                  </li>
                                  <li id="doc-list">
                                    <h5>
                                      <i class="fas fa-star" id="docicon"></i><i class="fas fa-star" id="docicon"></i><i class="fas fa-star"
                                        id="docicon"></i> <i class="far fa-star"></i><i class="far fa-star"></i>
              
                                    </h5>
              
                                  </li>
              
              
                                </ul>
              
                              </div>
                              <div class="col-md-1 d-block d-sm-none">
                                  <h3>
                                      <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                    
                                  </h3>
                              </div>
              
              
                            </div>
              
                          </div>
                          <div class="col-md-1 d-none d-sm-block">
                            
                              <h3>
                                  <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                            
                              </h3>
                            
                          </div>
                          <div class="col-md-12">
                            <div class="row" style="margin-top:10%;">
                              <div class="col-md-6 col-6">
                                <h6 class="text-center"><i class="fas fa-phone fa-lg" id="docicon"></i>&nbsp; 012345678921
                                </h6>
                              </div>
              
                              <div class="col-md-6 col-6 ">
                                <h6 class="text-center"><i class="fas fa-envelope fa-lg" id="docicon"></i>&nbsp; Send message</h6>
                              </div>
              
                              <div class="col-md-6 col-6">
                                <h6 class="text-center"><i class="fas fa-map-marker-alt fa-lg" id="docicon"></i>&nbsp; Location</h6>
                              </div>
              
                              <div class="col-md-6 col-6">
                                <h6 class="text-center"><i class="fas fa-globe fa-lg" id="docicon"></i>&nbsp; Website</h6>
                              </div>
              
              
                            </div>
              
                          </div>
                        </div>
                      </div>
                    </div>
              </div>

                  </div>
              </div>
            
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
