<section id="myappoinments">

  <div class="row">
    <div class="col-1 col-md-1"></div>
    <div>
      <ul class="nav" style="padding-bottom:1%">
        <li class="nav-item">
          <a href="#" style="color:#FF5545">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/favourites" style="color:#FF5545"> &nbsp;/ Favourites</a>
        </li>
      </ul>

    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="sec-head">
        <h3><b>Favourites</b></h3>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8 ">
      <div class="row">
        <div class="col-md-12" id="myappointments-tabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item col-lg-6 col-6">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#hom" role="tab" aria-controls="home"
                aria-selected="true">
                <p class="text-center tab-title">Doctors</p>
              </a>
            </li>
            <li class="nav-item col-lg-6 col-6">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#clinic" role="tab" aria-controls="clinic"
                aria-selected="false">
                <p class="text-center tab-title">Facilites</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-12">
          <div class="tab-content  myappointments-tabs" id="myTabContent">
            <div class="tab-pane fade show active" id="hom" role="tabpanel" aria-labelledby="home-tab">
              <br>
              <div class="row">
                <div class="col-lg-6 col-md-12" *ngFor="let doc of DocList">
                  <div class="card mb-3 doc-card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-10 col-lg-11">
                          <div class="row">
                            <img class="rounded-circle doc-img" width="80" height="80" src="{{doc.ImageUrl}}"
                              (error)="doc.ImageUrl = 'assets/images/doctor.png'">
                            <div class="col-6 col-md-5">
                              <ul class="list-unstyled">
                                <li class="doc-list" style="color:#FF5545">
                                  <h2 class="d-none d-md-block">
                                    <a routerLink="doc-profile/{{doc.Id}}/{{doc.FacilityId}}">{{doc.Name}}</a>

                                  </h2>
                                  <h4 class="d-block d-md-none">
                                    <a routerLink="doc-profile/{{doc.Id}}/{{doc.FacilityId}}">{{doc.Name}}</a>
                                  </h4>

                                </li>
                                <li class="doc-list">
                                  {{doc.Qualification}}, {{doc.Specialities[0].name}}
                                </li>
                                <li class="doc-list">
                                  {{doc.FacilityName}}
                                </li>
                                <li class="doc-list">
                                  {{doc.Area}}
                                </li>
                                <li class="doc-list">
                                  <!-- <i class="fas fa-star" id="docicon"></i><i class="fas fa-star" id="docicon"></i><i
                                    class="fas fa-star" id="docicon"></i> <i class="far fa-star"></i><i
                                    class="far fa-star"></i>
                                     -->
                                </li>


                              </ul>

                            </div>

                          </div>

                        </div>
                        <div class="col-1 d-block d-sm-none">
                          <a id="favo"
                            (click)='toggleFavDoc(doc.Id , doc.FacilityId , doc.Specialities[0].Id , doc.IsFav)'>
                            <h3>
                              
                              <ng-template [ngIf]="!doc.IsFav">
                                <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                              </ng-template>

                            </h3>
                          </a>
                        </div>

                        <div class="col-md-1 d-none d-sm-block">

                          <a id="favo"
                            (click)='toggleFavDoc(doc.Id , doc.FacilityId , doc.Specialities[0].Id , doc.IsFav)'>
                            <h3>

                              <ng-template [ngIf]="!doc.IsFav">
                                <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                              </ng-template>

                            </h3>
                          </a>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-10 d-none d-md-block">
                          <div class="row">
                            <div class="col-md-5">
                              <p><i class="fas fa-phone fa-lg docicon"></i>&nbsp; {{doc.PhoneNumber}}
                              </p>
                            </div>

                            <div class="col-md-5">
                              <p><i class="fas fa-envelope fa-lg docicon"></i>&nbsp; Send message</p>
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="text-center">
                <img src="assets/images/loading-icon.gif" id="loading">

              </h5>
              <h2 class="text-center notfound" *ngIf="NotFound"> No Doctors Favourites</h2>

            </div>
            <div class="tab-pane fade" id="clinic" role="tabpanel" aria-labelledby="profile-tab">
              <br>
              <div class="row">
                <div class="col-lg-6 col-md-12" *ngFor="let hos of HosList">
                  <div class="card mb-3 doc-card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-11">
                          <div class="row">
                            <img class="rounded-circle doc-img" width="80" height="80" src="{{hos.ImageUrl}}"
                              (error)="hos.ImageUrl = 'assets/images/fac.png'">
                            <div class="col-6 col-md-5">
                              <ul class="list-unstyled">
                                <li class="doc-list" style="color:#FF5545">
                                  <h2 class="d-none d-md-block">
                                    <a routerLink="/hospital-profile/{{hos.Id}}">{{hos.Name}}</a>
                                  </h2>
                                  <h4 class="d-block d-md-none">
                                    <a routerLink="/hospital-profile/{{hos.Id}}">{{hos.Name}}</a>
                                  </h4>
                                </li>
                                <li class="doc-list">
                                  <h5>
                                    {{hos.Area}}
                                  </h5>
                                </li>
                                <li class="doc-list">
                                  <h5>
                                    <!-- <i class="fas fa-star" id="docicon"></i><i class="fas fa-star" id="docicon"></i><i
                                      class="fas fa-star" id="docicon"></i> <i class="far fa-star"></i><i
                                      class="far fa-star"></i> -->

                                  </h5>

                                </li>


                              </ul>

                            </div>
                            <div class="col-md-1 d-block d-sm-none">
                              <a id="favo" (click)='toggleFavFac(hos.Id , hos.IsFavorite)'>
                                <h3>
                                  <ng-template [ngIf]="!hos.IsFavorite">
                                    <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                                  </ng-template>
                                </h3>
                              </a>

                            </div>


                          </div>

                        </div>
                        <div class="col-md-1 d-none d-sm-block">
                          <a id="favo" (click)='toggleFavFac(hos.Id , hos.IsFavorite)'>
                            <h3>
                              <ng-template [ngIf]="!hos.IsFavorite">
                                <i class="fas fa-heart fa-lg pull-right" style="color:#FF5545"></i>
                              </ng-template>
                            </h3>
                          </a>

                        </div>
                        <div class="col-md-12">
                          <div class="row" style="margin-top:10%;">
                            <div class="col-md-6 col-6">
                              <h6 class="text-center"><i class="fas fa-phone fa-lg docicon"></i>&nbsp;
                                {{hos.ContactNumber}}
                              </h6>
                            </div>

                            <div class="col-md-6 col-6 ">
                              <h6 class="text-center"><i class="fas fa-envelope fa-lg docicon"></i>&nbsp; Send
                                message</h6>
                            </div>

                            <div class="col-md-6 col-6">
                              <h6 class="text-center"><a href="https://www.google.com/maps/@{{hos.Location}},16z"
                                  target="_blank"><i class="fas fa-map-marker-alt fa-lg docicon"></i>&nbsp; Location</a>
                              </h6>
                            </div>

                            <div class="col-md-6 col-6">
                              <h6 class="text-center"><a target="_blank" href="http://{{hos.WebSite}}"><i
                                    class="fas fa-globe fa-lg docicon"></i>&nbsp; Website</a>
                              </h6>
                            </div>


                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="text-center">
                <img src="assets/images/loading-icon.gif" id="loading2">

              </h5>
              <h2 class="text-center notfound" *ngIf="NotFound2"> No Facilites Favourites</h2>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
