<section id="myappoinments">

  <div class="row">
    <div class="col-1 col-md-1"></div>
    <div>
      <ul class="nav" style="padding-bottom:1%">
        <li class="nav-item">
          <a href="#" style="color:#FF5545">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" style="color:#FF5545"> &nbsp;/ My Appiontments</a>
        </li>
      </ul>

    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="sec-head">
        <h3><b>My Appointments</b></h3>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="myappointments-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item col-md-4 col-4">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#hom" role="tab" aria-controls="home"
              aria-selected="true">
              <p class="text-center tab-title">Pending</p>
            </a>
          </li>
          <li class="nav-item col-md-4 col-4">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Confirmed" role="tab"
              aria-controls="Confirmed" aria-selected="false">
              <p class="text-center tab-title">Confirmed</p>
            </a>
          </li>
          <li class="nav-item col-md-4 col-4">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Completed" role="tab"
              aria-controls="Completed" aria-selected="false">
              <p class="text-center tab-title">Completed</p>
            </a>
          </li>


        </ul>
      </div>
      <div class="row">
        <div class="tab-content  myappointments-tabs" id="myTabContent">

          <div class="tab-pane fade show active" id="hom" role="tabpanel" aria-labelledby="home-tab">
            <br>
            <div class="row">

              <div class="col-2 col-md-4"></div>
              <div class="col-8 col-md-5">
                <select class="custom-select custom-select-sm dropdowntab" style="font-size : 15px !important"
                  [(ngModel)]="UserID" (change)="GetApps(UserID)">
                  <option selected disabled><b>Select Patient</b></option>
                  <option [value]="UID">Me</option>
                  <option [value]="mem.FamilyMemberId" *ngFor="let mem of AllMembers">{{mem.Name}}</option>

                </select>

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-12" *ngFor="let req of PendingList">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-7 col-md-8">
                        <ul class="list-unstyled">

                          <li class="list-info">
                            <div class="row doc-name">
                              <div class="col-1 col-md-1">
                                <i class="fas fa-user-md fa-lg"></i>

                              </div>

                              <div class=" col-10 col-md-10 ">
                                <h4>
                                  <a class="doc-name" routerLink="/doc-profile/{{req.DoctorId}}/{{req.FacilityId}}">
                                    {{req.DoctorName}}
                                  </a>
                                </h4>
                              </div>


                            </div>

                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1">
                                <i class="fas fa-calendar-alt fa-lg doccontent"></i>
                              </div>

                              <div class="col-10 col-md-9">
                                {{req.Id}}
                              </div>


                            </div>

                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1">
                                <i class="fas fa-stethoscope fa-lg doccontent"></i>
                              </div>

                              <div class="col-9 col-md-9">
                                {{req.Specialty}}
                              </div>
                            </div>
                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1 doccontent">
                                <i class="fas fa-h-square fa-lg"></i>
                              </div>

                              <div class="col-9 col-md-9">
                                {{req.ClinicName}}
                              </div>
                            </div>
                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1 doccontent">
                                <i class="far fa-calendar fa-lg"></i>
                              </div>

                              <div class="col-9 col-md-9">
                                {{req.DateTime|date}}
                              </div>
                            </div>
                          </li>

                        </ul>

                      </div>
                      <div class="col-5 col-md-4">
                        <ul class="list-unstyled pull-right">
                          <li id="list-info">
                            <div class="circle pull-right">
                              <h3 class="text-center d-none d-md-block"
                                (click)="copyPhoneNumber(req.ClinicContactNumber)"><i
                                  class="fas fa-phone profile-icons"></i>
                              </h3>

                              <h5 class="text-center d-block d-md-none "
                                (click)="copyPhoneNumber(req.ClinicContactNumber)"><i
                                  class="fas fa-phone profile-icons"></i>
                              </h5>

                            </div>

                          </li>
                          <!-- <li class="list-info-right">
                                <h6 class="pull-right doccontent"><i class="fas fa-notes-medical"></i>&nbsp;&nbsp;Check-in
                                </h6>
      
                              </li> -->

                          <li class="list-info-right">

                            <h6 class="pull-right doccontent"><a
                                href="https://www.google.com/maps/search/?api=1&query={{req.ClinicLocation}}" target="_blank"><u>Get
                                  Directions</u></a></h6>
                          </li>
                          <li class="list-info-right">
                            <h6 class="pull-right doccontent">
                              <i class="fas fa-clock"></i>&nbsp;{{req.Time.substring(0,5)}}</h6>
                          </li>

                        </ul>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-2 col-md-3"></div>
                      <div class="col-8 col-md-6"><button class="buttonsintro"
                          (click)="CancelApp(req.IsSlot , req.Id , req.DateTime)">Cancel Appiontment</button></div>

                    </div>

                  </div>
                </div>
              </div>

            </div>
            <h5 class="text-center">
              <img src="assets/images/loading-icon.gif" id="loading">

            </h5>
            <h2 class="text-center notfound" *ngIf="NotFound"> No Appointments</h2>

          </div>
          <div class="tab-pane fade" id="Confirmed" role="tabpanel" aria-labelledby="Confirmed-tab">
            <br>
            <div class="row">

              <div class="col-2 col-md-4"></div>
              <div class="col-8 col-md-5">
                <select class="custom-select custom-select-sm dropdowntab" style="font-size : 15px !important"
                  [(ngModel)]="UserID" (change)="GetApps(UserID)">
                  <option selected disabled><b>Select Patient</b></option>
                  <option [value]="UID">Me</option>
                  <option [value]="mem.FamilyMemberId" *ngFor="let mem of AllMembers">{{mem.Name}}</option>

                </select>

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-12" *ngFor="let req of ConfirmList">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-7 col-md-8">
                        <ul class="list-unstyled">

                          <li class="list-info">
                            <div class="row doc-name">
                              <div class="col-1 col-md-1">
                                <i class="fas fa-user-md fa-lg"></i>

                              </div>

                              <div class=" col-10 col-md-10 ">
                                <h4>
                                  <a class="doc-name" routerLink="/doc-profile/{{req.DoctorId}}/{{req.FacilityId}}">
                                    {{req.DoctorName}}
                                  </a>
                                </h4>
                              </div>


                            </div>

                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1">
                                <i class="fas fa-calendar-alt fa-lg doccontent"></i>
                              </div>

                              <div class="col-10 col-md-9">
                                {{req.Id}}
                              </div>


                            </div>

                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1">
                                <i class="fas fa-stethoscope fa-lg doccontent"></i>
                              </div>

                              <div class="col-9 col-md-9">
                                {{req.Specialty}}
                              </div>
                            </div>
                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1 doccontent">
                                <i class="fas fa-h-square fa-lg"></i>
                              </div>

                              <div class="col-9 col-md-9">
                                {{req.ClinicName}}
                              </div>
                            </div>
                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1 doccontent">
                                <i class="far fa-calendar fa-lg"></i>
                              </div>

                              <div class="col-9 col-md-9">
                                {{req.DateTime|date}}
                              </div>
                            </div>
                          </li>

                       
                        </ul>

                      </div>
                      <div class="col-5 col-md-4">
                        <ul class="list-unstyled pull-right">
                          <li id="list-info">
                            <div class="circle pull-right">
                              <h3 class="text-center d-none d-md-block"
                                (click)="copyPhoneNumber(req.ClinicContactNumber)"><i
                                  class="fas fa-phone profile-icons"></i>
                              </h3>

                              <h5 class="text-center d-block d-md-none "
                                (click)="copyPhoneNumber(req.ClinicContactNumber)"><i
                                  class="fas fa-phone profile-icons"></i>
                              </h5>

                            </div>

                          </li>
                          <!-- <li class="list-info-right">
                                <h6 class="pull-right doccontent"><i class="fas fa-notes-medical"></i>&nbsp;&nbsp;Check-in
                                </h6>
      
                              </li> -->

                          <li class="list-info-right">

                            <h6 class="pull-right doccontent"><a
                                href="https://www.google.com/maps/search/?api=1&query={{req.ClinicLocation}}" target="_blank"><u>Get
                                  Directions</u></a></h6>
                          </li>
                          <li class="list-info-right">
                            <h6 class="pull-right doccontent">
                              <i class="fas fa-clock"></i>&nbsp;{{req.Time.substring(0,5)}}</h6>
                          </li>

                        </ul>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-2 col-md-3"></div>
                      <div class="col-8 col-md-6"><button class="buttonsintro">Cancel Appiontment</button></div>

                    </div>

                  </div>
                </div>
              </div>

            </div>
            <h5 class="text-center">
              <img src="assets/images/loading-icon.gif" id="loading2">

            </h5>
            <h2 class="text-center notfound" *ngIf="NotFound2"> No Appointments</h2>

          </div>
          <div class="tab-pane fade" id="Completed" role="tabpanel" aria-labelledby="Completed-tab">
            <br>
            <div class="row">

              <div class="col-2 col-md-4"></div>
              <div class="col-8 col-md-5">
                <select class="custom-select custom-select-sm dropdowntab" style="font-size : 15px !important"
                  [(ngModel)]="UserID" (change)="GetApps(UserID)">
                  <option selected disabled><b>Select Patient</b></option>
                  <option [value]="UID">Me</option>
                  <option [value]="mem.FamilyMemberId" *ngFor="let mem of AllMembers">{{mem.Name}}</option>

                </select>

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-12" *ngFor="let req of CompletedList">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-7 col-md-8">
                        <ul class="list-unstyled">

                          <li class="list-info">
                            <div class="row doc-name">
                              <div class="col-1 col-md-1">
                                <i class="fas fa-user-md fa-lg"></i>

                              </div>

                              <div class=" col-10 col-md-10 ">
                                <h4>
                                  <a class="doc-name" routerLink="/doc-profile/{{req.DoctorId}}/{{req.FacilityId}}">
                                    {{req.DoctorName}}
                                  </a>
                                </h4>
                              </div>


                            </div>

                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1">
                                <i class="fas fa-calendar-alt fa-lg doccontent"></i>
                              </div>

                              <div class="col-10 col-md-9">
                                {{req.Id}}
                              </div>


                            </div>

                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1">
                                <i class="fas fa-stethoscope fa-lg doccontent"></i>
                              </div>

                              <div class="col-9 col-md-9">
                                {{req.Specialty}}
                              </div>
                            </div>
                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1 doccontent">
                                <i class="fas fa-h-square fa-lg"></i>
                              </div>

                              <div class="col-9 col-md-9">
                                {{req.ClinicName}}
                              </div>
                            </div>
                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1 doccontent">
                                <i class="far fa-calendar fa-lg"></i>
                              </div>

                              <div class="col-9 col-md-9">
                                {{req.DateTime|date}}
                              </div>
                            </div>
                          </li>

                          <li class="list-info">
                            <div class="row">
                              <div class="col-1 col-md-1 doccontent">
                                <i class="fas fa-info fa-lg"></i>
                              </div>

                              <div class="col-9 col-md-9">
                                <p *ngIf="req.DetailedStatusId == null" style="color:red"> Undefined</p>
                                <p *ngIf="req.DetailedStatusId == '1'" style="color:blue"> Check In</p>
                                <p *ngIf="req.DetailedStatusId == '2'" style="color:green"> No Show</p>
                              </div>
                            </div>
                          </li>

                        </ul>

                      </div>
                      <div class="col-5 col-md-4">
                        <ul class="list-unstyled pull-right">
                          <li id="list-info">
                            <div class="circle pull-right">
                              <h3 class="text-center d-none d-md-block"
                                (click)="copyPhoneNumber(req.ClinicContactNumber)"><i
                                  class="fas fa-phone profile-icons"></i>
                              </h3>

                              <h5 class="text-center d-block d-md-none "
                                (click)="copyPhoneNumber(req.ClinicContactNumber)"><i
                                  class="fas fa-phone profile-icons"></i>
                              </h5>

                            </div>

                          </li>
                          <!-- <li class="list-info-right">
                                  <h6 class="pull-right doccontent"><i class="fas fa-notes-medical"></i>&nbsp;&nbsp;Check-in
                                  </h6>
        
                                </li> -->

                          <li class="list-info-right">
                            <h6 class="pull-right doccontent"><a
                                href="https://www.google.com/maps/search/?api=1&query={{req.ClinicLocation}}" target="_blank"><u>Get
                                  Directions</u></a></h6>

                          </li>
                          <li class="list-info-right">
                            <h6 class="pull-right doccontent">
                              <i class="fas fa-clock"></i>&nbsp;{{req.Time.substring(0,5)}}</h6>
                          </li>

                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <h5 class="text-center">
              <img src="assets/images/loading-icon.gif" id="loading3">

            </h5>
            <h2 class="text-center notfound" *ngIf="NotFound3"> No Appointments</h2>

          </div>
        </div>
      </div>

    </div>

  </div>
</section>
