<section id="myappoinments">

  <div class="row">
    <div class="col-1 col-md-1"></div>
    <div>
      <ul class="nav" style="padding-bottom:1%">
        <li class="nav-item">
          <a href="#" style="color:#FF5545">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" style="color:#FF5545"> &nbsp;/ My Appiontments</a>
        </li>
      </ul>

    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="sec-head">
        <h3><b>My Appointments</b></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 ">
        <div class="row">
          <div class="col-md-12" id="myappointments-tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

              <li class="nav-item col-md-4 col-4">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#hom" role="tab" aria-controls="home"
                  aria-selected="true">
                  <p class="text-center tab-title">Pending</p>
                </a>
              </li>
              <li class="nav-item col-md-4 col-4">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#clinic" role="tab" aria-controls="clinic"
                  aria-selected="false">
                  <p class="text-center tab-title">Confirmed</p>
                </a>
              </li>
              <li class="nav-item col-md-4 col-4">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating"
                  aria-selected="false">
                  <p class="text-center tab-title">Completed</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-12">
            <div class="tab-content  myappointments-tabs" id="myTabContent">
              <div class="tab-pane fade show active" id="hom" role="tabpanel" aria-labelledby="home-tab">
                <br>
                <div class="row">

                  <div class="col-2 col-md-4"></div>
                  <div class="col-8 col-md-5">
                    <select class="custom-select custom-select-sm" id="dropdowntab" style="font-size : 15px !important">
                      <option selected disabled><b>Select Patient</b></option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>

                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-7 col-md-6">
                            <ul class="list-unstyled">
                              <li id="list-info">
                                <div class="row" id="doc-name">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-user-md fa-lg"></i>

                                  </div>

                                  <div class=" col-10 col-md-10 ">
                                    <h4>
                                      Doctor's Name
                                    </h4>
                                  </div>


                                </div>

                              </li>

                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-calendar-alt fa-lg" id="doccontent"></i>
                                  </div>

                                  <div class="col-10 col-md-9">
                                    Appointment ID
                                  </div>


                                </div>

                              </li>


                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-stethoscope fa-lg" id="doccontent"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    Specialty
                                  </div>
                                </div>
                              </li>
                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1 " id="doccontent">
                                    <i class="fas fa-h-square fa-lg"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    Hospital Name
                                  </div>
                                </div>
                              </li>
                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1" id="doccontent">
                                    <i class="far fa-calendar fa-lg"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    27/07/2018
                                  </div>
                                </div>
                              </li>
                            </ul>

                          </div>
                          <div class="col-5 col-md-6">
                            <ul class="list-unstyled pull-right">
                              <li id="list-info">
                                <div class="circle pull-right">
                                  <h3 class="text-center d-none d-md-block"><i class="fas fa-phone" id="profile-icons"></i></h3>

                                  <h5 class="text-center d-block d-md-none "><i class="fas fa-phone" id="profile-icons"></i></h5>

                                </div>

                              </li>
                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><i class="fas fa-notes-medical"></i>&nbsp;&nbsp;Check-in</h6>

                              </li>

                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><u>Get Directions</u></h6>

                              </li>
                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><i class="fas fa-clock"></i>&nbsp;&nbsp;&nbsp;10:10
                                  - 10:30</h6>


                              </li>


                            </ul>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-2 col-md-3"></div>
                          <div class="col-8 col-md-6"><button id="buttonsintro">Cancel Appiontment</button></div>

                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-7 col-md-6">
                            <ul class="list-unstyled">
                              <li id="list-info">
                                <div class="row" id="doc-name">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-user-md fa-lg"></i>

                                  </div>

                                  <div class=" col-10 col-md-10 ">
                                    <h4>
                                      Doctor's Name
                                    </h4>
                                  </div>


                                </div>

                              </li>

                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-calendar-alt fa-lg" id="doccontent"></i>
                                  </div>

                                  <div class="col-10 col-md-9">
                                    Appointment ID
                                  </div>


                                </div>

                              </li>


                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-stethoscope fa-lg" id="doccontent"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    Specialty
                                  </div>
                                </div>
                              </li>
                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1 " id="doccontent">
                                    <i class="fas fa-h-square fa-lg"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    Hospital Name
                                  </div>
                                </div>
                              </li>
                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1" id="doccontent">
                                    <i class="far fa-calendar fa-lg"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    27/07/2018
                                  </div>
                                </div>
                              </li>
                            </ul>

                          </div>
                          <div class="col-5 col-md-6">
                            <ul class="list-unstyled pull-right">
                              <li id="list-info">
                                <div class="circle pull-right">
                                  <h3 class="text-center d-none d-md-block"><i class="fas fa-phone" id="profile-icons"></i></h3>

                                  <h5 class="text-center d-block d-md-none "><i class="fas fa-phone" id="profile-icons"></i></h5>

                                </div>

                              </li>
                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><i class="fas fa-notes-medical"></i>&nbsp;&nbsp;Check-in</h6>

                              </li>

                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><u>Get Directions</u></h6>

                              </li>
                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><i class="fas fa-clock"></i>&nbsp;&nbsp;&nbsp;10:10
                                  - 10:30</h6>


                              </li>


                            </ul>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-2 col-md-3"></div>
                          <div class="col-8 col-md-6"><button id="buttonsintro">Cancel Appiontment</button></div>

                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-7 col-md-6">
                            <ul class="list-unstyled">
                              <li id="list-info">
                                <div class="row" id="doc-name">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-user-md fa-lg"></i>

                                  </div>

                                  <div class=" col-10 col-md-10 ">
                                    <h4>
                                      Doctor's Name
                                    </h4>
                                  </div>


                                </div>

                              </li>

                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-calendar-alt fa-lg" id="doccontent"></i>
                                  </div>

                                  <div class="col-10 col-md-9">
                                    Appointment ID
                                  </div>


                                </div>

                              </li>


                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-stethoscope fa-lg" id="doccontent"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    Specialty
                                  </div>
                                </div>
                              </li>
                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1 " id="doccontent">
                                    <i class="fas fa-h-square fa-lg"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    Hospital Name
                                  </div>
                                </div>
                              </li>
                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1" id="doccontent">
                                    <i class="far fa-calendar fa-lg"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    27/07/2018
                                  </div>
                                </div>
                              </li>
                            </ul>

                          </div>
                          <div class="col-5 col-md-6">
                            <ul class="list-unstyled pull-right">
                              <li id="list-info">
                                <div class="circle pull-right">
                                  <h3 class="text-center d-none d-md-block"><i class="fas fa-phone" id="profile-icons"></i></h3>

                                  <h5 class="text-center d-block d-md-none "><i class="fas fa-phone" id="profile-icons"></i></h5>

                                </div>

                              </li>
                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><i class="fas fa-notes-medical"></i>&nbsp;&nbsp;Check-in</h6>

                              </li>

                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><u>Get Directions</u></h6>

                              </li>
                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><i class="fas fa-clock"></i>&nbsp;&nbsp;&nbsp;10:10
                                  - 10:30</h6>


                              </li>


                            </ul>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-2 col-md-3"></div>
                          <div class="col-8 col-md-6"><button id="buttonsintro">Cancel Appiontment</button></div>

                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-7 col-md-6">
                            <ul class="list-unstyled">
                              <li id="list-info">
                                <div class="row" id="doc-name">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-user-md fa-lg"></i>

                                  </div>

                                  <div class=" col-10 col-md-10 ">
                                    <h4>
                                      Doctor's Name
                                    </h4>
                                  </div>


                                </div>

                              </li>

                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-calendar-alt fa-lg" id="doccontent"></i>
                                  </div>

                                  <div class="col-10 col-md-9">
                                    Appointment ID
                                  </div>


                                </div>

                              </li>


                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1">
                                    <i class="fas fa-stethoscope fa-lg" id="doccontent"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    Specialty
                                  </div>
                                </div>
                              </li>
                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1 " id="doccontent">
                                    <i class="fas fa-h-square fa-lg"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    Hospital Name
                                  </div>
                                </div>
                              </li>
                              <li id="list-info">
                                <div class="row">
                                  <div class="col-1 col-md-1" id="doccontent">
                                    <i class="far fa-calendar fa-lg"></i>
                                  </div>

                                  <div class="col-9 col-md-9">
                                    27/07/2018
                                  </div>
                                </div>
                              </li>
                            </ul>

                          </div>
                          <div class="col-5 col-md-6">
                            <ul class="list-unstyled pull-right">
                              <li id="list-info">
                                <div class="circle pull-right">
                                  <h3 class="text-center d-none d-md-block"><i class="fas fa-phone" id="profile-icons"></i></h3>

                                  <h5 class="text-center d-block d-md-none "><i class="fas fa-phone" id="profile-icons"></i></h5>

                                </div>

                              </li>
                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><i class="fas fa-notes-medical"></i>&nbsp;&nbsp;Check-in</h6>

                              </li>

                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><u>Get Directions</u></h6>

                              </li>
                              <li id="list-info-right">
                                <h6 class="pull-right" id="doccontent"><i class="fas fa-clock"></i>&nbsp;&nbsp;&nbsp;10:10
                                  - 10:30</h6>


                              </li>


                            </ul>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-2 col-md-3"></div>
                          <div class="col-8 col-md-6"><button id="buttonsintro">Cancel Appiontment</button></div>

                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="tab-pane fade" id="clinic" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
                locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
                blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
                VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party
                scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
              <div class="tab-pane fade" id="rating" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape
                wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
                lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone
                skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
                gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork
                biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl
                craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
