<section id="contact-us">
  <div class="row">
    <div class="col-1 col-md-1"></div>
    <ul class="nav" style="padding-bottom:1%">
      <li class="nav-item">
        <a href="#" style="color:#FF5545">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" style="color:#FF5545"> &nbsp;/ Contact Us</a>
      </li>
    </ul>

  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="col-md-12">
        <h2 id="sec-head"><b>CONTACT US</b></h2>
      </div>
      <br>

      <h5 style="color:#FF5545 ; text-align: left"><b>We are glad to listen to you</b></h5>

      <div class="row">
        <div class="col-lg-6">
          <div id="contact-us-content" style="margin-bottom: 50px">
            <textarea style="color:grey ; "> Text Here...</textarea>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
              <div class="col-lg-6 col-md-6 margin-bottom-45px">
                  <div class="contact-us-content text-center padding-30px box-shadow border-radius-10">
                      <i style="color: #FF5545"  class="icon_mail_alt icon-large text-grey-2"></i>
                      <h6 class="font-weight-300 margin-top-15px">Email</h6>
                      <h5 class="font-2 ">info@site-name.com</h5>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 margin-bottom-45px">
                  <div class="contact-us-content text-center padding-30px box-shadow border-radius-10">
                      <i style="color: #FF5545" class="icon_map_alt icon-large text-grey-2"></i>
                      <h6 class="font-weight-300 margin-top-15px">Address</h6>
                      <h5 class="font-2 ">Marmora Road, Glasgow</h5>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 sm-mb-30px">
                  <div class="contact-us-content text-center padding-30px box-shadow border-radius-10">
                      <i style="color: #FF5545" class="icon_link icon-large text-grey-2"></i>
                      <h6 class="font-weight-300 margin-top-15px">Website</h6>
                      <h5 class="font-2">www.site-name.com</h5>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="contact-us-content text-center padding-30px box-shadow border-radius-10">
                      <i style="color: #FF5545" class="icon_phone icon-large text-grey-2"></i>
                      <h6 class="font-weight-300 margin-top-15px">Telphone</h6>
                      <h5 class="font-2">+222 123 3019</h5>
                  </div>
              </div>
          </div>
        </div>
        <!-- <div class="col-12 col-md-4" id="contact-us-info">
          <div class="row">
            <div class="col-5 col-md-5" id="contact-tab">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="text-center" style="text-align:center;"><i class="fas fa-mobile-alt fa-lg"></i></h1>
                </div>
                <div class="col-md-12">
                  <h5 style="text-align:center;">Text Here</h5>
                </div>

              </div>
            </div>
            <div class="col-2 col-md-1"></div>

            <div class="col-5 col-md-5 active-tab" id="contact-tab">
              <div class="row">
                <div class="col-md-12">
                  <h1 style="text-align:center;"><i class="far fa-envelope fa-lg"></i></h1>
                </div>
                <div class="col-md-12">
                  <h5 style="text-align:center;">Text Here</h5>
                </div>

              </div>
            </div>

          </div>
          <div style="height:30px"></div>
          <div class="row">
            <div class="col-5 col-md-5" id="contact-tab">
              <div class="row">
                <div class="col-md-12">
                  <h1 style="text-align:center;"><i class="fas fa-map-marker-alt fa-lg"></i></h1>
                </div>
                <div class="col-md-12">
                  <h5 style="text-align:center;">Text Here</h5>
                </div>

              </div>
            </div>
            <div class="col-2 col-md-1"></div>

            <div class="col-5 col-md-5" id="contact-tab">
              <div class="row">
                <div class="col-md-12">
                  <h1 style="text-align:center;"><i class="fas fa-globe fa-lg"></i></h1>
                </div>
                <div class="col-md-12">
                  <h5 style="text-align:center;">Text Here</h5>
                </div>

              </div>
            </div>

          </div>

        </div>
         -->
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-4 col-md-4"></div>
        <div class="col-4 col-md-4"><button id="buttonsintro" style="margin-bottom:25%">Send</button></div>

      </div>


    </div>

  </div>
</section>
