<section id="desc">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-4 wow fadeInUp " id="info" data-wow-delay="0.2s">
          <div class="opacity-hover-7 hvr-bob">
            <div id="deschead">
              <h1><i class="fas fa-stethoscope"></i></h1>
              <h2>title title</h2>
            </div>
            <div id="desccontent">
              <p>Nullam semper erat arcu, ac tincidunt sem venenatis vel. Curabitur at dolor ac ligula fermentum
                euismod ac
                ullamcorper nulla. Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id,
                iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elementum turpis. Curabitur justo sapien, tempus
                sit
                amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend
                tempor
                vitae augue.</p>
            </div>
          </div>

        </div>

        <div class="col-md-4 wow fadeInUp " id="info" data-wow-delay="0.4s">
          <div class="opacity-hover-7 hvr-bob">
            <div id="deschead">
              <h1><i class="fas fa-map-marker-alt"></i></h1>
              <h2>title title</h2>
            </div>
            <div id="desccontent">
              <p>Nullam semper erat arcu, ac tincidunt sem venenatis vel. Curabitur at dolor ac ligula fermentum
                euismod ac
                ullamcorper nulla. Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id,
                iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elementum turpis. Curabitur justo sapien, tempus
                sit
                amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend
                tempor
                vitae augue.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 wow fadeInUp" id="info" data-wow-delay="0.6s">
          <div class="opacity-hover-7 hvr-bob">
            <div id="deschead">
              <h1><i class="fas fa-map-marked-alt"></i></h1>
              <h2>title title</h2>
            </div>
            <div id="desccontent" style="text-align:left">
              <p>Nullam semper erat arcu, ac tincidunt sem venenatis vel.Curabitur at dolor ac ligula fermentum euismod
                ac
                ullamcorper nulla. Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id,
                iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elementum turpis. Curabitur justo sapien, tempus
                sit
                amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend
                tempor
                vitae augue.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section id="showreel">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10 wow fadeInUp" id="showreelvideo" data-wow-delay="0.2s">
          <h1 class="text-center">
            <img src="assets/images/Shape9.png" style="margin-top:100px">

          </h1>
        </div>
      </div>
    </div>

    <div class="col-md-4 wow fadeInDown" id="showreeldesc" data-wow-delay="0.2s">
      <div id="showreelhead">
        <h1>Title</h1>
      </div>
      <div id="showreelinfo">
        <p>Quisque id placerat leo, quis porta justo. Pellen tesque bibendum, sem eu aliquet eleifend, turpis mauris
          faucibus ligula, vel hendrerit.Quisque id placerat leo, quis porta justo. Pellen tesque bibendum, sem eu
          aliquet eleifend, turpis mauris
          faucibus ligula, vel hendrerit.Quisque id placerat leo, quis porta justo. Pellen tesque bibendum, sem eu
          aliquet eleifend, turpis mauris
          faucibus ligula, vel hendrerit.</p>
      </div>
    </div>

  </div>

</section>

<section id="downloadapp">
  <div class="row">
    <div class="col-2 col-md-1"></div>
    <div class="col-8 col-md-4">
      <img src="assets/images/Layer2.png" style="height:500px;">
    </div>

    <div class="col-md-7 ">
      <div id="downloadapphead" class="wow fadeInUp">
        <h1><i class="fas fa-download"></i></h1>
        <h2>Download app</h2>
        <img src="assets/images/linecopy2.png">
      </div>
      <div id="downloadappdesc" class="wow fadeInUp">
        <p>
          <p>Quisque id placerat leo, quis porta justo. Pellen tesque bibendum, sem eu aliquet eleifend, turpis
            mauris
            faucibus ligula, vel hendrerit.Quisque id placerat leo, quis porta justo. Pellen tesque bibendum, sem eu
            aliquet eleifend, turpis mauris
            faucibus ligula, vel hendrerit.Quisque id placerat leo, quis porta justo. Pellen tesque bibendum, sem eu
            aliquet eleifend, turpis mauris
            faucibus ligula, vel hendrerit.</p>
      </div>
      <div id="downloadappbtn">
        <div class="row">
          <div class="col-2 col-md-3"></div>

          <div class="col-4 col-md-4">
            <a style="cursor :pointer"><img src="assets/images/purepng.com-appstore-iconsymbolsiconsapple-iosiosios-8-iconsios-8-721522596009rinhz.png"
                width="80" height="80" /></a>
          </div>
          <div class="col-4 col-md-4">
            <a style="cursor :pointer"> <img src="assets/images/en_badge_web_generic.png" width="140" height="80" /></a>
          </div>

        </div>


      </div>

    </div>
  </div>
</section>

<section id="about">
  <div class="wow fadeInUp abouthead">
    <h6>
      <img src="assets/images/Rounded Rectangle4.png" style="width:45px ;height: 45px; ">
    </h6>
    <br>
    <h2>
      About
      <img src="assets/images/Vector Smart Object copy 2.png">
    </h2>
    <img src="assets/images/linecopy2.png">

  </div>
  <div class="wow fadeInUp aboutcontent">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h3 class="text-center">{{AboutUs.Title}}</h3>
        <p [innerHTML]="AboutUs.Content">
          
        </p>
      </div>

    </div>


  </div>

</section>
