<section id="login">
  <div class="row">
    <div class="col-lg-4 col-md-2"></div>
    <div class="col-lg-4 col-md-8">
      <div class="card-header text-center doclist-head" >
        <h4>Forget Password</h4>
      </div>
      <div class="card mb-3" id="login-div">
        <div class="card-body">
          <h3 class="text-center">
            <img src="assets/images/login_logo.png" style="height:80% ; width:80%">
          </h3>
          <form id="login-form" [formGroup]="ForgetPasswordForm" (ngSubmit)="ForgetPassword()">
            <div class="row">

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-1">
                    <h3 class="text-center">
                      <i class="fas fa-envelope fa-lg icons"></i>

                    </h3>
                  </div>
                  <div class="col-md-10">
                    <input type="email" placeholder="E-mail" class="input-form" formControlName="Email"
                      [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                    <hr>
                    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                      <div *ngIf="f.Email.errors.required">Email is required</div>
                      <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                    </div>

                  </div>

                </div>


              </div>



            </div>
            <br>
            <br>
            <button class="buttonsintro" type="submit">
              <h5 style="margin-top:10px"><b>Send Code</b></h5>
            </button>
            <br>

          </form>

        </div>
      </div>

    </div>

  </div>
</section>
<ng-template #ResetPasswordModel let-close="close">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="title text-center" id="largeModalLabel"><i class="fas fa-edit"></i> Reset Password</h3>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="ResetPasswordForm" (ngSubmit)="ResetPassword()">
    
          <div class="row">
            <div class="col-1 col-md-1"><i class="fas fa-envelope fa-lg icons"></i></div>
            <div class="col-10 col-md-10">
              <input type="email" class="input-form" placeholder="Email" formControlName="Email"
                [ngClass]="{ 'is-invalid': submitted2 && s.Email.errors }">
                <hr>

                <div *ngIf="submitted2 && s.Email.errors" class="invalid-feedback">
                  <div *ngIf="s.Email.errors.required">Email is required</div>
                  <div *ngIf="s.Email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-1 col-md-1"><i class="far fa-check fa-lg icons"></i></div>
            <div class="col-10 col-md-10">
              <input type="text" class="input-form" placeholder="VerfiyCode" formControlName="VerfiyCode"
              [ngClass]="{ 'is-invalid': submitted2 && s.VerfiyCode.errors }">
              <hr>

            <div *ngIf="submitted2 && s.VerfiyCode.errors" class="invalid-feedback">
              <div *ngIf="s.VerfiyCode.errors.required"> VerfiyCode is required</div>
            </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-1 col-md-1"><i class="far fa-unlock-alt fa-lg icons"></i></div>
            <div class="col-10 col-md-10">
              <input type="password" class="input-form" placeholder="New Password" formControlName="NewPassword"
                [ngClass]="{ 'is-invalid': submitted2 && s.NewPassword.errors }">
                <hr>
              <div *ngIf="submitted2 && s.NewPassword.errors" class="invalid-feedback">
                <div *ngIf="s.NewPassword.errors.required"> New Password is required</div>
              </div>
            </div>

          </div>
          <br>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <button class="buttonsintro" type="submit">Reset Password</button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn action-btn btn-warning waves-effect waves-light" (click)="close()"
        data-dismiss="modal">Cancel</button>
    </div>
  </div>
</ng-template>
